In [6]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from datetime import datetime
import matplotlib.pyplot as pplot
import math

In [30]:
volume_df = pd.read_csv("dataset/volume(table 6)_training.csv")
volume_df.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-09-19 23:09:25,2,0,1,0,NaN
1,2016-09-19 23:11:53,2,0,1,0,NaN
2,2016-09-19 23:13:54,2,0,1,0,NaN
3,2016-09-19 23:17:48,1,0,1,1,NaN
4,2016-09-19 23:16:07,2,0,1,0,NaN

In [5]:
# Descrição das features:
# time           datetime  Data e Hora em que o veículo passa pelo pedágio;
# tollgate_id    string    Identificador do pedágio;
# direction      string    0: entra na rodovia pelo pedágio; 1: sai da rodovia pelo pedágio;
# vehicle_model  int       Um número randomico que indica a capacidade do veículo;
# has_etc        string    Indica se o veículo possui ou não o sistema ETC; 0 - NÃO, 1 - SIM
# vehicle_type   string    0: veículo de passageiro; 1: veículo de carga
# weekday        int       Representa os dias da semana
# weekend        int       1: Para quando for fim de semana; 0: Para quando não for fim de semana

In [6]:
#Retirando os valores nulos da coluna vehicle_type pelo modelo do veículo.
    #No vehicle_type indica 0 para veículo de passageiros e 1 para carga.
    #Poderíamos verificar a partir do modelo do veiculo, para veiculo com capacidade de até 4
    #Ficou definido que sera para passageiro, sendo maior que 4 será veiculo de carga

In [31]:
volume_df['vehicle_type'] = volume_df['vehicle_model'].apply(lambda x: 0 if x < 5 else 1)

In [32]:
volume_df['tollgate_id_string'] = volume_df['tollgate_id']
volume_df['tollgate_id_string'] = volume_df['tollgate_id'].replace({1: "1S", 2: "2S", 3: "3S"})

volume_df.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type,tollgate_id_string
0,2016-09-19 23:09:25,2,0,1,0,0,2S
1,2016-09-19 23:11:53,2,0,1,0,0,2S
2,2016-09-19 23:13:54,2,0,1,0,0,2S
3,2016-09-19 23:17:48,1,0,1,1,0,1S
4,2016-09-19 23:16:07,2,0,1,0,0,2S

In [36]:
def getTimeFormat(wd):
    return '[{},{})'.format(str(wd), str(wd+timedelta(minutes=20)))

def time_to_window(x):
    dt = datetime.strptime(x, "%Y-%m-%d %H:%M:%S")
    dtmin = int(dt.minute / 20) * 20
    dtwindow = datetime(dt.year, dt.month, dt.day, dt.hour, dtmin, 0)
    return dtwindow

if hasattr(time, 'strptime'):
    #python 2.6
    strptime = time.strptime
else:
    #python 2.4 equivalent
    strptime = lambda date_string, format: time(*(time.strptime(date_string, format)[0:6]))

#volume_df['time'] =  pd.to_datetime(volume_df['time'] , format='%Y-%m-%d %H:%M:%S')
volume_df['window'] = volume_df['time'].apply(time_to_window)
#volume_df = volume_df.groupby(['tollgate_id','direction','window']).count()['time']


volume_df = volume_df.groupby([pd.Grouper(key='window'), 'tollgate_id', 'direction']).size()\
      .reset_index().rename(columns = {0:'volume'})

In [37]:
volume_df

                   window  tollgate_id  direction  volume
0     2016-09-19 23:00:00            1          0       1
1     2016-09-19 23:00:00            1          1      16
2     2016-09-19 23:00:00            2          0      16
3     2016-09-19 23:00:00            3          0       6
4     2016-09-19 23:00:00            3          1       7
5     2016-09-19 23:20:00            1          0       7
6     2016-09-19 23:20:00            1          1      10
7     2016-09-19 23:20:00            2          0       6
8     2016-09-19 23:20:00            3          0      11
9     2016-09-19 23:20:00            3          1      11
10    2016-09-19 23:40:00            1          0       6
11    2016-09-19 23:40:00            1          1      13
12    2016-09-19 23:40:00            2          0      12
13    2016-09-19 23:40:00            3          0      22
14    2016-09-19 23:40:00            3          1      16
15    2016-09-19 00:00:00            1          0      13
16    2016-09-19 00:00:00            1          1     134
17    2016-09-19 00:00:00            2          0       2
18    2016-09-19 00:00:00            3          0      17
19    2016-09-19 00:00:00            3          1     165
20    2016-09-19 00:20:00            1          0       6
21    2016-09-19 00:20:00            1          1      56
22    2016-09-19 00:20:00            3          0      16
23    2016-09-19 00:20:00            3          1     108
24    2016-09-19 00:40:00            1          0       9
25    2016-09-19 00:40:00            1          1      30
26    2016-09-19 00:40:00            3          0      16
27    2016-09-19 00:40:00            3          1      90
28    2016-09-19 01:00:00            1          0      10
29    2016-09-19 01:00:00            1          1       4
...                   ...          ...        ...     ...
10033 2016-10-17 20:40:00            2          0      26
10034 2016-10-17 20:40:00            3          0      39
10035 2016-10-17 20:40:00            3          1      43
10036 2016-10-17 21:00:00            1          0      16
10037 2016-10-17 21:00:00            1          1      24
10038 2016-10-17 21:00:00            2          0      28
10039 2016-10-17 21:00:00            3          0      35
10040 2016-10-17 21:00:00            3          1      23
10041 2016-10-17 21:20:00            1          0      11
10042 2016-10-17 21:20:00            1          1      24
10043 2016-10-17 21:20:00            2          0      20
10044 2016-10-17 21:20:00            3          0      28
10045 2016-10-17 21:20:00            3          1      25
10046 2016-10-17 21:40:00            1          0      18
10047 2016-10-17 21:40:00            1          1      31
10048 2016-10-17 21:40:00            2          0      17
10049 2016-10-17 21:40:00            3          0      26
10050 2016-10-17 21:40:00            3          1      22
10051 2016-10-17 22:00:00            1          0      12
10052 2016-10-17 22:00:00            1          1      15
10053 2016-10-17 22:00:00            2          0      21
10054 2016-10-17 22:00:00            3          0      17
10055 2016-10-17 22:00:00            3          1      16
10056 2016-10-17 22:20:00            1          0      10
10057 2016-10-17 22:20:00            1          1      18
10058 2016-10-17 22:20:00            2          0      21
10059 2016-10-17 22:20:00            3          0      20
10060 2016-10-17 22:20:00            3          1      18
10061 2016-10-08 23:40:00            1          1       1
10062 2016-10-08 23:40:00            3          1       3

[10063 rows x 4 columns]