In [34]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from datetime import time
import matplotlib.pyplot as pplot
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor

In [5]:
# Descrição das features:
# time           datetime  Data e Hora em que o veículo passa pelo pedágio;
# tollgate_id    string    Identificador do pedágio;
# direction      string    0: entra na rodovia pelo pedágio; 1: sai da rodovia pelo pedágio;
# vehicle_model  int       Um número que indica a capacidade do veículo;
# has_etc        string    Indica se o veículo possui ou não o sistema ETC; 0 - NÃO, 1 - SIM
# vehicle_type   string    0: veículo de passageiro; 1: veículo de carga
# weekday        int       Representa os dias da semana
# weekend        int       1: Para quando for fim de semana; 0: Para quando não for fim de semana

In [14]:
volume_df = pd.read_csv("dataset/volume(table 6)_test1.csv")
volume_df.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-10-18 07:59:04,2,0,1,1,NaN
1,2016-10-18 07:59:31,2,0,1,1,NaN
2,2016-10-18 07:59:50,2,0,1,1,NaN
3,2016-10-18 07:32:33,3,0,1,1,NaN
4,2016-10-18 07:32:46,3,0,1,1,NaN

In [15]:
#Caracteristicas dos dados
volume_df.info()
volume_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29441 entries, 0 to 29440
Data columns (total 6 columns):
time             29441 non-null object
tollgate_id      29441 non-null int64
direction        29441 non-null int64
vehicle_model    29441 non-null int64
has_etc          29441 non-null int64
vehicle_type     12715 non-null float64
dtypes: float64(1), int64(4), object(1)
memory usage: 1.3+ MB

        tollgate_id     direction  vehicle_model       has_etc  vehicle_type
count  29441.000000  29441.000000   29441.000000  29441.000000  12715.000000
mean       2.151184      0.431881       1.218471      0.267450      0.198820
std        0.892908      0.495346       0.657182      0.442637      0.399128
min        1.000000      0.000000       0.000000      0.000000      0.000000
25%        1.000000      0.000000       1.000000      0.000000      0.000000
50%        2.000000      0.000000       1.000000      0.000000      0.000000
75%        3.000000      1.000000       1.000000      1.000000      0.000000
max        3.000000      1.000000       7.000000      1.000000      1.000000

In [12]:
#Retirando os valores nulos da coluna vehicle_type pelo modelo do veículo.
    #No vehicle_type indica 0 para veículo de passageiros e 1 para carga.
    #Poderíamos verificar a partir do modelo do veiculo, para veiculo com capacidade de até 4
    #Ficou definido que sera para passageiro, sendo maior que 4 será veiculo de carga

In [16]:
volume_df['vehicle_type'] = volume_df['vehicle_model'].apply(lambda x: 0 if x < 5 else 1)

In [17]:
volume_df.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
0,2016-10-18 07:59:04,2,0,1,1,0
1,2016-10-18 07:59:31,2,0,1,1,0
2,2016-10-18 07:59:50,2,0,1,1,0
3,2016-10-18 07:32:33,3,0,1,1,0
4,2016-10-18 07:32:46,3,0,1,1,0

In [7]:
volume_df.tail()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type
543694,2016-10-17 18:18:22,1,1,1,1,0
543695,2016-10-17 18:18:49,1,1,1,1,0
543696,2016-10-17 18:20:03,1,1,1,1,0
543697,2016-10-17 17:20:20,1,1,1,1,0
543698,2016-10-17 17:21:52,1,1,1,1,0

In [18]:
#Função que será usada para obter a janela de tempo de 20 minutos
def get_timewindow(t):
        time_window = 20
        if t.minute < time_window:
            window = [time(t.hour, 0), time(t.hour,20)]
        elif t.minute < time_window*2:
            window = [time(t.hour, 20), time(t.hour, 40)]
        else:
            try:
                window = [time(t.hour, 40), time(t.hour + 1, 0)]
            except ValueError:
                window = [time(t.hour, 40), time(0,0,0)]
        s_window = '[' + str(window[0]) + ',' + str(window[1]) + ')'
        return s_window

def get_hour(t):
        return t.hour

In [19]:
#Ajustando o formato da coluna time
volume_df['time'] = pd.to_datetime(volume_df['time'], format = '%Y-%m-%d %H:%M:%S')

#Adiciona valores para os dias da semana
volume_df['weekday'] = volume_df['time'].dt.dayofweek + 1

#Classificar cada atributo de time aplicando a janela de tempo de vinte minutos
volume_df['t'] = volume_df['time'].dt.time

#Adicionando valores para saber se é referente a um fim de semana ou não
volume_df['weekend'] = volume_df['weekday'].apply(lambda x: 0 if x < 6 else 1)

volume_df['hour'] = volume_df['t'].apply(get_hour)

volume_df['date'] = volume_df['time'].dt.date


volume_df['time_window'] = volume_df['t'].apply(get_timewindow)
del volume_df['t']

volume_df.head()
volume_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29441 entries, 0 to 29440
Data columns (total 11 columns):
time             29441 non-null datetime64[ns]
tollgate_id      29441 non-null int64
direction        29441 non-null int64
vehicle_model    29441 non-null int64
has_etc          29441 non-null int64
vehicle_type     29441 non-null int64
weekday          29441 non-null int64
weekend          29441 non-null int64
hour             29441 non-null int64
date             29441 non-null object
time_window      29441 non-null object
dtypes: datetime64[ns](1), int64(8), object(2)
memory usage: 2.5+ MB

In [20]:
#Salvando dados de treino
volume_df.to_csv('processed_test_volume2.csv', index = False)

In [46]:
#Fazendo o mesmo processo para os dados de teste

In [21]:
pd_volume_train = pd.read_csv('processed_training_volume2.csv')
pd_volume_test = pd.read_csv('processed_test_volume2.csv')
pd_volume_train = pd_volume_train.set_index(['time'])
pd_volume_test = pd_volume_test.set_index(['time'])
volume_train = pd_volume_train.groupby(['time_window','tollgate_id','direction','weekday', 'hour']).size().reset_index().rename(columns = {0:'volume'})
volume_test = pd_volume_test.groupby(['time_window','tollgate_id','direction','weekday', 'hour']).size().reset_index().rename(columns = {0:'volume'})

x = pd.Series(volume_train['time_window'].unique())
s = pd.Series(range(len(x)),index = x.values)
volume_train['window_n'] = volume_train['time_window'].map(s)
volume_test['window_n'] = volume_test['time_window'].map(s)
#volume_test.tail()
#volume_train.tail()
#volume_train.head()
volume_test.head()

,time_window,tollgate_id,direction,weekday,hour,volume,window_n
0,"[06:00:00,06:20:00)",1,0,1,6,18,18
1,"[06:00:00,06:20:00)",1,0,2,6,13,18
2,"[06:00:00,06:20:00)",1,0,3,6,12,18
3,"[06:00:00,06:20:00)",1,0,4,6,8,18
4,"[06:00:00,06:20:00)",1,0,5,6,8,18

In [36]:
def feature_format():
    pd_volume_train = pd.read_csv('processed_training_volume2.csv')
    pd_volume_test = pd.read_csv('processed_test_volume2.csv')
    pd_volume_train = pd_volume_train.set_index(['time'])
    pd_volume_test = pd_volume_test.set_index(['time'])
    volume_train = pd_volume_train.groupby(['time_window','tollgate_id','direction','weekday', 'hour']).size().reset_index().rename(columns = {0:'volume'})
    volume_test = pd_volume_test.groupby(['time_window','tollgate_id','direction','weekday', 'hour']).size().reset_index().rename(columns = {0:'volume'})
                    
    x = pd.Series(volume_train['time_window'].unique())
    s = pd.Series(range(len(x)),index = x.values)
    volume_train['window_n'] = volume_train['time_window'].map(s)
    volume_test['window_n'] = volume_test['time_window'].map(s)
    #volume_test.tail()
    
    feature_train = volume_train.drop('volume', axis = 1).set_index(['time_window'])
    feature_test = volume_test.drop('volume',axis = 1).set_index(['time_window'])
    values_train = volume_train['volume'].values
    values_test = volume_test['volume'].values
    
    return feature_train, feature_test, values_train, values_test

In [37]:
x_train, x_test, y_train, y_test = feature_format()

In [24]:
x_train

                     tollgate_id  direction  weekday  hour  window_n
time_window
[00:00:00,00:20:00)            1          0        1     0         0
[00:00:00,00:20:00)            1          0        2     0         0
[00:00:00,00:20:00)            1          0        3     0         0
[00:00:00,00:20:00)            1          0        4     0         0
[00:00:00,00:20:00)            1          0        5     0         0
[00:00:00,00:20:00)            1          0        6     0         0
[00:00:00,00:20:00)            1          0        7     0         0
[00:00:00,00:20:00)            1          1        1     0         0
[00:00:00,00:20:00)            1          1        2     0         0
[00:00:00,00:20:00)            1          1        3     0         0
[00:00:00,00:20:00)            1          1        4     0         0
[00:00:00,00:20:00)            1          1        5     0         0
[00:00:00,00:20:00)            1          1        6     0         0
[00:00:00,00:20:00)            1          1        7     0         0
[00:00:00,00:20:00)            2          0        1     0         0
[00:00:00,00:20:00)            2          0        2     0         0
[00:00:00,00:20:00)            2          0        3     0         0
[00:00:00,00:20:00)            2          0        4     0         0
[00:00:00,00:20:00)            2          0        5     0         0
[00:00:00,00:20:00)            2          0        6     0         0
[00:00:00,00:20:00)            2          0        7     0         0
[00:00:00,00:20:00)            3          0        1     0         0
[00:00:00,00:20:00)            3          0        2     0         0
[00:00:00,00:20:00)            3          0        3     0         0
[00:00:00,00:20:00)            3          0        4     0         0
[00:00:00,00:20:00)            3          0        5     0         0
[00:00:00,00:20:00)            3          0        6     0         0
[00:00:00,00:20:00)            3          0        7     0         0
[00:00:00,00:20:00)            3          1        1     0         0
[00:00:00,00:20:00)            3          1        2     0         0
...                          ...        ...      ...   ...       ...
[23:40:00,00:00:00)            1          0        6    23        71
[23:40:00,00:00:00)            1          0        7    23        71
[23:40:00,00:00:00)            1          1        1    23        71
[23:40:00,00:00:00)            1          1        2    23        71
[23:40:00,00:00:00)            1          1        3    23        71
[23:40:00,00:00:00)            1          1        4    23        71
[23:40:00,00:00:00)            1          1        5    23        71
[23:40:00,00:00:00)            1          1        6    23        71
[23:40:00,00:00:00)            1          1        7    23        71
[23:40:00,00:00:00)            2          0        1    23        71
[23:40:00,00:00:00)            2          0        2    23        71
[23:40:00,00:00:00)            2          0        3    23        71
[23:40:00,00:00:00)            2          0        4    23        71
[23:40:00,00:00:00)            2          0        5    23        71
[23:40:00,00:00:00)            2          0        6    23        71
[23:40:00,00:00:00)            2          0        7    23        71
[23:40:00,00:00:00)            3          0        1    23        71
[23:40:00,00:00:00)            3          0        2    23        71
[23:40:00,00:00:00)            3          0        3    23        71
[23:40:00,00:00:00)            3          0        4    23        71
[23:40:00,00:00:00)            3          0        5    23        71
[23:40:00,00:00:00)            3          0        6    23        71
[23:40:00,00:00:00)            3          0        7    23        71
[23:40:00,00:00:00)            3          1        1    23        71
[23:40:00,00:00:00)            3          1        2    23        71
[23:40:00,00:00:00)            3          1        3    23        71
[23:40:00,00:00:00)            3          1        4    23        71
[23:40:00,00:00:00)            3          1        5    23        71
[23:40:00,00:00:00)            3          1        6    23        71
[23:40:00,00:00:00)            3          1        7    23        71

[2481 rows x 5 columns]

In [25]:
y_train

array([70, 48, 58, ..., 43, 31, 42])

In [26]:
x_test.head()

                     tollgate_id  direction  weekday  hour  window_n
time_window
[06:00:00,06:20:00)            1          0        1     6        18
[06:00:00,06:20:00)            1          0        2     6        18
[06:00:00,06:20:00)            1          0        3     6        18
[06:00:00,06:20:00)            1          0        4     6        18
[06:00:00,06:20:00)            1          0        5     6        18

In [27]:
y_test

array([ 18,  13,  12,   8,   8,   7,  13,  31,  37,  48,  46,  33,  31,
        26,  27,  24,  26,  21,  16,  22,   8,  41,  30,  24,  37,  22,
        27,  18,  23,  23,  21,  16,  21,  19,   9,  21,  17,  16,  16,
        13,   8,  10,  57,  47,  28,  27,  39,  36,  50,  39,  36,  45,
        23,  24,  22,  11,  53,  42,  57,  44,  49,  37,  29,  41,  29,
        26,  49,  28,  18,  19,  24,  21,  17,  23,  21,  22,   8,  59,
        72,  57,  55,  54,  56,  33,  52,  46,  47,  42,  39,  43,  25,
       105,  85,  75,  73,  66,  51,  43,  60,  50,  43,  37,  42,  25,
        33,  35,  31,  22,  22,  32,  14,  17,  76,  68,  67,  71,  65,
        49,  45, 104,  83,  87,  76,  66,  24,  29, 150, 114, 119, 114,
       116,  76,  51,  75,  56,  53,  47,  54,  38,  36,  34,  28,  38,
        33,  41,  27,  24, 116,  94,  98,  88, 102,  44,  41, 111,  87,
        95,  89,  77,  49,  35, 148, 131, 137, 123, 135,  89,  71, 101,
        77,  63,  60,  76,  39,  53,  43,  47,  41,  37,  38,  34,  30,
       126, 105, 103, 111,  87,  74,  66, 123,  97,  99, 112,  90,  55,
        42, 171, 164, 152, 120, 155,  77,  66,  99,  91, 104, 104,  79,
        69,  51,  50,  52,  40,  40,  47,  37,  61,  82,  72,  83,  97,
       113, 100, 101,  67,  74,  70,  72,  93,  77,  76, 141, 116, 107,
        92, 127, 106, 122,  80,  81,  99, 100, 113,  73, 137,  47,  38,
        34,  41,  49,  47,  65,  80, 102,  99, 115, 106,  96, 124,  73,
        78,  69,  79,  76,  77,  83, 105,  87,  96, 107, 168,  99, 109,
       102,  91, 108, 105, 100,  82, 117,  26,  35,  50,  42,  55,  52,
        61, 103, 116,  92, 120, 129,  95, 114,  71,  53,  58,  70,  92,
        61,  74, 105, 106,  95, 108, 157, 114, 133,  71,  83,  79,  74,
        96,  97,  89,  49,  57,  39,  46,  59,  47,  60,  99, 102,  82,
        90, 107, 109, 104,  69,  62,  55,  66,  80,  80,  61, 115, 109,
       109, 121, 155, 115, 122, 101,  84,  82,  92,  78,  94,  95,  50,
        45,  40,  36,  65,  56,  58, 108,  84,  80,  73, 107, 102, 113,
        75,  63,  61,  67,  97,  67,  72, 100, 117, 105, 106, 152, 115,
       110,  80,  92,  89,  84,  92,  72,  91,  44,  53,  36,  37,  68,
        54,  62, 103, 113,  85, 119, 109,  79, 108,  80,  83,  64,  75,
        78,  69,  61, 130, 118,  95, 147, 165, 101, 122,  81,  83,  75,
        88, 104,  87, 104])

In [77]:
#Função que calcula a média quadrática
def rmse(predictions, targets):
    differences = predictions - targets
    differences_squared = differences ** 2
    mean_of_differences_squared = differences_squared.mean()
    rmse_val = np.sqrt(mean_of_differences_squared)
    return rmse_val

In [78]:
#Função que calcula o MAPE
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [29]:
#Executando algoritmo de regressão linear
model1 = LinearRegression()
model1.fit(x_train, y_train)
pred_y1 = model1.predict(x_test)
pred_y1

array([199.43103438, 194.19812541, 188.96521644, 183.73230747,
       178.4993985 , 173.26648953, 168.03358056, 186.40155535,
       181.16864638, 175.93573741, 170.70282844, 165.46991947,
       160.23701051, 155.00410154, 222.66168914, 217.42878017,
       212.1958712 , 206.96296223, 201.73005326, 196.49714429,
       191.26423532, 245.8923439 , 240.65943493, 235.42652596,
       230.19361699, 224.96070802, 219.72779906, 214.49489009,
       232.86286487, 227.62995591, 222.39704694, 217.16413797,
       211.931229  , 206.69832003, 201.46541106, 199.0671165 ,
       193.83420753, 188.60129856, 183.36838959, 178.13548062,
       172.90257165, 167.66966268, 186.03763747, 180.8047285 ,
       175.57181953, 170.33891056, 165.10600159, 159.87309262,
       154.64018365, 222.29777126, 217.06486229, 211.83195332,
       206.59904435, 201.36613538, 196.13322641, 190.90031744,
       245.52842602, 240.29551705, 235.06260808, 229.82969911,
       224.59679014, 219.36388117, 214.1309722 , 232.49894699,
       227.26603802, 222.03312905, 216.80022009, 211.56731112,
       206.33440215, 201.10149318, 198.70319861, 193.47028964,
       188.23738068, 183.00447171, 177.77156274, 172.53865377,
       167.3057448 , 185.67371959, 180.44081062, 175.20790165,
       169.97499268, 164.74208371, 159.50917474, 154.27626577,
       221.93385338, 216.70094441, 211.46803544, 206.23512647,
       201.0022175 , 195.76930853, 190.53639956, 245.16450814,
       239.93159917, 234.6986902 , 229.46578123, 224.23287226,
       218.99996329, 213.76705432, 232.13502911, 226.90212014,
       221.66921117, 216.4363022 , 211.20339323, 205.97048427,
       200.7375753 , 202.60417257, 197.3712636 , 192.13835463,
       186.90544567, 181.6725367 , 176.43962773, 171.20671876,
       189.57469355, 184.34178458, 179.10887561, 173.87596664,
       168.64305767, 163.4101487 , 158.17723973, 225.83482733,
       220.60191837, 215.3690094 , 210.13610043, 204.90319146,
       199.67028249, 194.43737352, 249.0654821 , 243.83257313,
       238.59966416, 233.36675519, 228.13384622, 222.90093725,
       217.66802828, 236.03600307, 230.8030941 , 225.57018513,
       220.33727616, 215.10436719, 209.87145822, 204.63854926,
       202.24025469, 197.00734572, 191.77443675, 186.54152778,
       181.30861881, 176.07570985, 170.84280088, 189.21077566,
       183.97786669, 178.74495773, 173.51204876, 168.27913979,
       163.04623082, 157.81332185, 225.47090945, 220.23800048,
       215.00509151, 209.77218255, 204.53927358, 199.30636461,
       194.07345564, 248.70156421, 243.46865525, 238.23574628,
       233.00283731, 227.76992834, 222.53701937, 217.3041104 ,
       235.67208519, 230.43917622, 225.20626725, 219.97335828,
       214.74044931, 209.50754034, 204.27463137, 201.87633681,
       196.64342784, 191.41051887, 186.1776099 , 180.94470093,
       175.71179196, 170.47888299, 188.84685778, 183.61394881,
       178.38103984, 173.14813088, 167.91522191, 162.68231294,
       157.44940397, 225.10699157, 219.8740826 , 214.64117363,
       209.40826466, 204.17535569, 198.94244673, 193.70953776,
       248.33764633, 243.10473736, 237.87182839, 232.63891943,
       227.40601046, 222.17310149, 216.94019252, 235.30816731,
       230.07525834, 224.84234937, 219.6094404 , 214.37653143,
       209.14362246, 203.91071349, 227.98927813, 222.75636916,
       217.5234602 , 212.29055123, 207.05764226, 201.82473329,
       196.59182432, 214.95979911, 209.72689014, 204.49398117,
       199.2610722 , 194.02816323, 188.79525426, 183.56234529,
       251.2199329 , 245.98702393, 240.75411496, 235.52120599,
       230.28829702, 225.05538805, 219.82247908, 274.45058766,
       269.21767869, 263.98476972, 258.75186075, 253.51895178,
       248.28604281, 243.05313384, 261.42110863, 256.18819966,
       250.95529069, 245.72238172, 240.48947275, 235.25656379,
       230.02365482, 227.62536025, 222.39245128, 217.15954231,
       211.92663334, 206.69372438, 201.46081541, 196.22790644,
       214.59588123, 209.36297226, 204.13006329, 198.89715432,
       193.66424535, 188.43133638, 183.19842741, 250.85601501,
       245.62310604, 240.39019708, 235.15728811, 229.92437914,
       224.69147017, 219.4585612 , 274.08666978, 268.85376081,
       263.62085184, 258.38794287, 253.1550339 , 247.92212493,
       242.68921596, 261.05719075, 255.82428178, 250.59137281,
       245.35846384, 240.12555487, 234.8926459 , 229.65973693,
       227.26144237, 222.0285334 , 216.79562443, 211.56271546,
       206.32980649, 201.09689752, 195.86398856, 214.23196334,
       208.99905437, 203.76614541, 198.53323644, 193.30032747,
       188.0674185 , 182.83450953, 250.49209713, 245.25918816,
       240.02627919, 234.79337022, 229.56046126, 224.32755229,
       219.09464332, 273.72275189, 268.48984292, 263.25693396,
       258.02402499, 252.79111602, 247.55820705, 242.32529808,
       260.69327287, 255.4603639 , 250.22745493, 244.99454596,
       239.76163699, 234.52872802, 229.29581905, 231.16241633,
       225.92950736, 220.69659839, 215.46368942, 210.23078045,
       204.99787148, 199.76496251, 218.1329373 , 212.90002833,
       207.66711936, 202.43421039, 197.20130143, 191.96839246,
       186.73548349, 254.39307109, 249.16016212, 243.92725315,
       238.69434418, 233.46143521, 228.22852625, 222.99561728,
       277.62372585, 272.39081688, 267.15790791, 261.92499895,
       256.69208998, 251.45918101, 246.22627204, 264.59424683,
       259.36133786, 254.12842889, 248.89551992, 243.66261095,
       238.42970198, 233.19679301, 230.79849845, 225.56558948,
       220.33268051, 215.09977154, 209.86686257, 204.6339536 ,
       199.40104463, 217.76901942, 212.53611045, 207.30320148,
       202.07029251, 196.83738354, 191.60447457, 186.37156561,
       254.02915321, 248.79624424, 243.56333527, 238.3304263 ,
       233.09751733, 227.86460836, 222.63169939, 277.25980797,
       272.026899  , 266.79399003, 261.56108106, 256.32817209,
       251.09526313, 245.86235416, 264.23032894, 258.99741997,
       253.76451101, 248.53160204, 243.29869307, 238.0657841 ,
       232.83287513, 230.43458057, 225.2016716 , 219.96876263,
       214.73585366, 209.50294469, 204.27003572, 199.03712675,
       217.40510154, 212.17219257, 206.9392836 , 201.70637463,
       196.47346566, 191.24055669, 186.00764772, 253.66523533,
       248.43232636, 243.19941739, 237.96650842, 232.73359945,
       227.50069048, 222.26778151, 276.89589009, 271.66298112,
       266.43007215, 261.19716318, 255.96425421, 250.73134524,
       245.49843627, 263.86641106, 258.63350209, 253.40059312,
       248.16768416, 242.93477519, 237.70186622, 232.46895725])

In [81]:
#Algoritmo Regressão Linear com Gradiente Descendente
class LinearRegressionGD(object):

    def __init__(self, eta=0.001, n_iter=20):
        self.eta = eta
        self.n_iter = n_iter

    def fit(self, X, y):
        self.w_ = np.zeros(1 + X.shape[1])
        self.cost_ = []

        for i in range(self.n_iter):
            output = self.net_input(X)
            errors = (y - output)
            self.w_[1:] += self.eta * X.T.dot(errors)
            self.w_[0] += self.eta * errors.sum()
            cost = (errors**2).sum() / 2.0
            self.cost_.append(cost)
        return self

    def net_input(self, X):
        return np.dot(X, self.w_[1:]) + self.w_[0]

    def predict(self, X):
        return self.net_input(X)

In [89]:
model2 = LinearRegressionGD(eta = 0.0009, n_iter = 40)
model2.fit(x_train, y_train)
pred_y2 = model2.predict(x_test)

In [32]:
#Algoritmo Regressão Linear com Gradiente Descendente Estocrástico
model3 = SGDRegressor(eta0=0.0009, max_iter=40)
model3.fit(x_train, y_train)
pred_y3 = model3.predict(x_test)

In [103]:
mean_absolute_percentage_error(y_test, pred_y1)

344.6219144002485

In [102]:
print(  rmse(pred_y1, y_test),"\n", #Algoritmo 1
        rmse(pred_y2, y_test),"\n", #Algoritmo 2
        rmse(pred_y3, y_test) #Algoritmo 3
     )

150.6964566871464
 5.701458141552023e+145
 187.39084578228082

In [33]:
mean_squared_error(pred_y3, y_test)

28344.218948382113

In [40]:
rng = np.random.RandomState(1)
regr = AdaBoostRegressor(DecisionTreeRegressor(max_depth = 21),
                         n_estimators=11, random_state = rng)

regr.fit(x_train, y_train)

y_pred = regr.predict(x_test)

mape = np.mean(np.abs((y_pred - y_test)/y_test))

print (mape)

4.002390009178407