In [21]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from datetime import time
import matplotlib.pyplot as pplot
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
import math
import random
from sklearn.metrics import mean_absolute_error

In [71]:
v_train = pd.read_csv('dados_treino_volume_com_valor_anterior.csv')
v_test = pd.read_csv('dados_teste_volume_com_valor_anterior.csv')

In [72]:
df_remove = v_train.loc[(v_train['date'] >= '2016-10-01') 
                         & (v_train['date'] <= '2016-10-07') 
                        ]

v_train = v_train.drop(df_remove.index)

In [83]:
df_train_list = [v_train,]
random.shuffle(df_train_list)
df_train = pd.concat(df_train_list)

df_train_grouped = df_train.groupby(["tollgate_id", "direction"])
df_test_grouped = v_test.groupby(["tollgate_id", "direction"])
result = []
oob = []
for key, train_data in df_train_grouped:

    test_data = df_test_grouped.get_group(key)
    len_train = len(train_data)
    train_data = train_data.append(test_data)[train_data.columns.tolist()]


    #train_data = feature_transform_knn(key, train_data)

    regressor_cubic = RandomForestRegressor(n_estimators=500, max_features='sqrt', random_state=10, oob_score=True)

    train_data = pd.DataFrame.reset_index(train_data)
    train_data = train_data.drop("index", axis=1)
    y = train_data.ix[:len_train - 1, :]["volume"]


    x = train_data.ix[:len_train - 1, 5:]
    x1 = train_data.ix[len_train:, 5:]

    regressor_cubic.fit(x, y)
    yhat = regressor_cubic.predict(x1)

    test_data["volume"] = yhat
    result.append(test_data[['tollgate_id', 'time_window', 'direction', 'volume']])


df_result = pd.concat(result, axis=0)

/home/matheuspds/miniconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)
/home/matheuspds/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/home/matheuspds/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/home/matheuspds/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

ValueError: Number of features of the model must match the input. Model n_features is 6 and input n_features is 7

In [74]:
df_result.head()

    tollgate_id          time_window  direction  volume
0             1  [06:00:00,06:20:00)          0  12.484
5             1  [06:20:00,06:40:00)          0  16.200
10            1  [06:40:00,07:00:00)          0  19.844
15            1  [07:00:00,07:20:00)          0  26.156
20            1  [07:20:00,07:40:00)          0  28.204

In [75]:
test_0 = pd.read_csv("predicao-com-serie/data_after_process/test_0.csv")

In [76]:
df_remove = test_0.loc[(test_0['volume'] == 0)]

test_0 = test_0.drop(df_remove.index)
test_0.head()

             time_start  volume  direction  tollgate_id
18  2016-10-25 06:00:00      10          0            1
19  2016-10-25 06:20:00      17          0            1
20  2016-10-25 06:40:00      30          0            1
21  2016-10-25 07:00:00      25          0            1
22  2016-10-25 07:20:00      38          0            1

In [77]:
volume_real = test_0['volume'].values
volume_prediction = df_result['volume'].values

In [78]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [79]:
mean_absolute_percentage_error(volume_real, volume_prediction)

50.85381247751025

In [80]:
mean_absolute_error(volume_real, volume_prediction)

23.03997777777778

In [81]:
volume_real

array([ 10,  17,  30,  25,  38,  44,  52,  44,  46,  50,  40,  50,  12,
         9,  25,  31,  32,  45,  38,  36,  44,  49,  45,  46,  14,  14,
        23,  20,  36,  42,  40,  37,  45,  49,  41,  45,   8,  21,  14,
        28,  37,  46,  62,  48,  57,  78,  67,  58,  11,  17,  19,  27,
        37,  24,  60,  48,  52,  48,  62,  48,  18,  25,  30,  49,  40,
        74, 122, 129, 152, 118, 112, 110,  27,  54,  60,  95,  98, 106,
        94,  94,  88,  85,  93,  88,  29,  27,  40,  83,  98,  93,  77,
        66, 100,  78,  83,  69,  32,  27,  39,  74,  88,  99,  72,  59,
        74,  68,  80,  90,  20,  36,  50,  70,  81, 114,  58,  54,  79,
        57,  73,  83,  19,  23,  53,  66,  99,  97,  87,  96, 104,  85,
        93, 110,  23,  42,  40,  34,  53,  61,  91,  77,  84,  77,  79,
        83,   5,   3,   6,   6,  11,  16,  13,  25,  26,  13,  27,  19,
        10,  10,  14,  37,  42,  58,  13,  17,  13,  19,  12,  17,  28,
        48,  92, 129, 131, 139, 125, 123, 124, 126, 141, 118,  24,  50,
        74, 129, 121, 144, 120, 107, 114, 131, 132, 127,  24,  40,  63,
       120, 112, 134, 110,  93, 105, 113, 126, 125,  25,  52,  70, 120,
       104, 151, 145, 147, 178, 154, 159, 143,  27,  38,  59,  65,  78,
        92, 131, 121, 115, 126, 133,  94,  15,  37,  56,  70,  78,  86,
       153, 150, 130, 130, 132, 119,  26,  53,  81, 148, 166, 162, 111,
        97,  94, 128, 108, 104,  37,  54,  63,  67,  99, 133,  92, 111,
        89, 113, 107, 108,  37,  51,  57,  69,  96, 110,  96,  99, 101,
       110, 113, 109,  37,  46,  51,  62,  94, 104,  87, 101, 101,  96,
        93, 109,  35,  57,  65,  86, 100, 113, 102, 122, 113, 134, 109,
       115,  32,  39,  58,  57,  78,  89,  98,  70,  84, 102,  91, 111,
        42,  42,  56,  64,  70,  65, 113, 123, 123, 105, 105, 125,  36,
        45,  73,  88,  99, 115,  96, 101, 106,  96, 107,  99,  30,  31,
        42,  62,  89,  84,  79, 101,  81,  96, 104,  98,  21,  36,  41,
        50,  82,  86,  81,  80,  79,  83,  93, 122,  24,  25,  49,  52,
        90,  86, 100,  89,  80, 107, 108, 117,  19,  19,  51,  52,  57,
        77, 130, 123, 106,  97, 107,  95,  13,  28,  32,  54,  64,  65,
        84,  76, 100, 101,  92,  78,  21,  34,  25,  60,  59,  60, 165,
       124, 146, 107, 138, 105,  22,  29,  48,  68,  88, 109,  80,  90,
        81,  73,  92,  68])

In [82]:
volume_prediction

array([ 12.484     ,  16.2       ,  19.844     ,  26.156     ,
        28.204     ,  40.884     ,  47.388     ,  38.068     ,
        34.2       ,  50.766     ,  43.016     ,  48.532     ,
        17.41      ,  15.712     ,  16.702     ,  21.574     ,
        34.878     ,  38.848     ,  39.106     ,  33.386     ,
        46.462     ,  39.408     ,  39.372     ,  35.588     ,
        14.448     ,  15.322     ,  20.726     ,  21.666     ,
        29.792     ,  36.024     ,  39.098     ,  39.866     ,
        40.286     ,  43.786     ,  35.77      ,  37.038     ,
        14.502     ,  12.816     ,  19.226     ,  26.216     ,
        38.27      ,  37.234     ,  44.136     ,  45.762     ,
        49.274     ,  50.866     ,  54.182     ,  56.958     ,
        15.66      ,   8.186     ,  19.308     ,  15.154     ,
        25.296     ,  32.132     ,  36.784     ,  44.176     ,
        47.298     ,  44.582     ,  50.008     ,  48.752     ,
        17.822     ,  10.242     ,   8.374     ,  16.196     ,
        23.666     ,  29.326     ,  46.864     ,  53.762     ,
        51.628     ,  51.292     ,  50.464     ,  52.068     ,
        21.018     ,  18.998     ,  21.516     ,  29.096     ,
        32.182     ,  40.292     ,  46.1       ,  44.094     ,
        28.262     ,  41.918     ,  46.882     ,  42.46      ,
        35.63      ,  46.348     ,  68.458     ,  67.62      ,
        93.414     ,  97.622     ,  76.92      ,  94.942     ,
       101.842     ,  93.16      ,  82.002     , 100.36      ,
        46.36      ,  31.89      ,  53.898     ,  66.044     ,
        97.196     ,  96.348     ,  81.846     ,  91.824     ,
        86.376     ,  79.344     ,  79.548     ,  83.274     ,
        45.424     ,  30.522     ,  51.952     ,  68.64      ,
        88.942     , 100.388     ,  89.756     , 101.624     ,
       104.84      ,  84.96      ,  76.484     , 103.498     ,
        36.636     ,  39.034     ,  52.472     ,  64.97      ,
       100.816     ,  84.91      ,  99.814     ,  97.202     ,
       108.44      ,  96.388     ,  96.998     ,  98.498     ,
        35.74      ,  36.934     ,  53.9       ,  52.6       ,
        59.87866667,  77.248     ,  92.158     ,  89.034     ,
        87.67      ,  96.632     ,  94.188     ,  79.12      ,
        31.292     ,  45.434     ,  40.84      ,  49.364     ,
        56.692     ,  73.532     ,  93.254     , 105.984     ,
       101.204     ,  94.704     ,  99.918     ,  98.03      ,
        35.768     ,  52.634     ,  57.17      ,  71.724     ,
       110.834     , 108.614     ,  81.624     ,  79.978     ,
        95.358     ,  89.726     ,  97.656     ,  95.824     ,
        22.888     ,  34.128     ,  44.254     ,  81.068     ,
        86.262     ,  96.642     ,  77.418     ,  76.098     ,
        57.22      ,  61.566     ,  64.19      ,  78.394     ,
        31.442     ,  41.132     ,  46.556     ,  84.702     ,
        93.088     ,  99.134     ,  74.004     ,  69.298     ,
        59.408     ,  56.89      ,  62.078     ,  64.986     ,
        27.778     ,  24.138     ,  40.076     ,  74.58      ,
        87.904     , 105.852     ,  76.502     ,  76.732     ,
        68.772     ,  64.956     ,  66.424     ,  74.796     ,
        25.086     ,  24.822     ,  37.516     ,  67.312     ,
        77.57      ,  90.334     ,  88.278     ,  77.352     ,
        86.924     ,  77.512     ,  90.124     ,  78.454     ,
        28.318     ,  22.72      ,  40.36      ,  37.708     ,
        50.558     ,  62.648     ,  75.004     ,  75.77      ,
        61.746     ,  76.398     ,  66.638     ,  68.768     ,
        22.142     ,  14.012     ,  27.214     ,  37.4       ,
        41.62      ,  47.48      ,  69.852     ,  78.748     ,
        74.22      ,  61.628     ,  71.214     ,  62.708     ,
        31.252     ,  37.094     ,  51.284     ,  95.416     ,
       107.536     , 117.308     ,  72.208     ,  72.518     ,
        70.832     ,  67.99      ,  75.014     ,  77.242     ,
        28.752     ,  41.472     ,  78.118     , 112.128     ,
       131.346     , 155.848     , 118.174     ,  87.956     ,
       105.736     , 109.678     , 116.922     , 118.016     ,
        38.082     ,  52.246     ,  72.986     , 115.11      ,
       135.546     , 150.49      , 110.248     ,  96.13      ,
        96.938     , 110.084     , 105.306     ,  97.104     ,
        45.494     ,  43.122     ,  71.674     , 111.732     ,
       122.228     , 121.922     ,  95.856     , 106.824     ,
       108.306     , 121.272     , 106.448     , 142.516     ,
        40.154     ,  46.036     ,  65.592     , 108.888     ,
       133.734     , 153.408     , 128.182     , 148.478     ,
       154.124     , 149.892     , 147.482     , 158.012     ,
        42.976     ,  37.512     ,  54.652     ,  78.782     ,
        90.116     ,  86.746     , 105.872     ,  98.404     ,
       113.348     , 114.604     , 114.802     , 101.288     ,
        34.692     ,  31.288     ,  48.796     ,  60.292     ,
        75.904     ,  75.922     , 115.36      , 109.694     ,
       131.892     , 122.108     , 110.782     , 121.792     ,
        49.746     ,  50.484     ,  89.41      , 138.022     ,
       146.456     , 159.398     , 139.704     , 106.034     ,
       105.104     , 114.654     , 100.542     , 129.762     ,
        21.314     ,  29.958     ,  48.088     ,  53.846     ,
        73.658     ,  85.866     ,  85.146     ,  85.024     ,
        76.952     ,  78.014     ,  82.516     ,  77.63      ,
        20.956     ,  26.766     ,  43.028     ,  52.072     ,
        65.33      ,  93.736     ,  98.772     ,  96.588     ,
        75.87      ,  77.446     ,  80.734     ,  74.758     ,
        17.696     ,  44.14      ,  39.33      ,  47.958     ,
        62.966     ,  93.398     ,  99.43      ,  95.396     ,
        73.436     ,  83.566     ,  77.328     ,  81.292     ,
        21.056     ,  28.714     ,  42.25      ,  52.366     ,
        72.75      ,  78.786     , 108.928     ,  91.532     ,
        86.496     ,  75.82      ,  83.034     ,  92.83      ,
        19.97      ,  21.328     ,  28.144     ,  42.274     ,
        46.754     ,  72.6       ,  82.07      ,  79.732     ,
        87.048     ,  84.35      ,  72.628     ,  80.964     ,
        13.702     ,  20.892     ,  34.848     ,  41.948     ,
        54.874     ,  58.266     , 117.98      , 102.146     ,
        81.602     ,  84.498     ,  82.02      ,  92.49      ,
        22.37      ,  40.296     ,  56.488     ,  68.506     ,
        88.578     ,  90.698     ,  84.618     ,  91.468     ,
        72.044     ,  88.954     ,  75.268     ,  76.948     ])