In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from datetime import time
import matplotlib.pyplot as pplot
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
import math

/home/matheuspds/miniconda3/lib/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Sequence
/home/matheuspds/miniconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
# Descrição das features:
# time           datetime  Data e Hora em que o veículo passa pelo pedágio;
# tollgate_id    string    Identificador do pedágio;
# direction      string    0: entra na rodovia pelo pedágio; 1: sai da rodovia pelo pedágio;
# vehicle_model  int       Um número que indica a capacidade do veículo;
# has_etc        string    Indica se o veículo possui ou não o sistema ETC; 0 - NÃO, 1 - SIM
# vehicle_type   string    0: veículo de passageiro; 1: veículo de carga
# weekday        int       Representa os dias da semana
# weekend        int       1: Para quando for fim de semana; 0: Para quando não for fim de semana

In [2]:
pd_volume_train = pd.read_csv('processed_train_volume2.csv')
#pd_volume_test = pd.read_csv('processed_test_volume2.csv')

In [3]:
pd_volume_train.head()
#pd_volume_test.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type,weekday,weekend,hour,date,holiday,time_window
0,2016-09-19 23:09:25,2,0,1,0,0,1,0,23,2016-09-19,False,"[23:00:00,23:20:00)"
1,2016-09-19 23:11:53,2,0,1,0,0,1,0,23,2016-09-19,False,"[23:00:00,23:20:00)"
2,2016-09-19 23:13:54,2,0,1,0,0,1,0,23,2016-09-19,False,"[23:00:00,23:20:00)"
3,2016-09-19 23:17:48,1,0,1,1,0,1,0,23,2016-09-19,False,"[23:00:00,23:20:00)"
4,2016-09-19 23:16:07,2,0,1,0,0,1,0,23,2016-09-19,False,"[23:00:00,23:20:00)"

In [5]:
pd_volume_train['time'] =  pd.to_datetime(pd_volume_train['time'] , format='%Y-%m-%d %H:%M:%S')
#pd_volume_train = pd_volume_train.set_index(['time_window'])

# 车流量
pd_volume_train = pd_volume_train.groupby([pd.Grouper(freq='20T', key='time'), 'tollgate_id', 'direction', 'time_window', 'date', 'hour']).size()\
       .reset_index().rename(columns = {0:'volume'})

In [6]:
pd_volume_train.head()

,time,tollgate_id,direction,time_window,date,hour,volume
0,2016-09-19,1,0,"[00:00:00,00:20:00)",2016-09-19,0,13
1,2016-09-19,1,1,"[00:00:00,00:20:00)",2016-09-19,0,140
2,2016-09-19,2,0,"[00:00:00,00:20:00)",2016-09-19,0,2
3,2016-09-19,3,0,"[00:00:00,00:20:00)",2016-09-19,0,17
4,2016-09-19,3,1,"[00:00:00,00:20:00)",2016-09-19,0,181

In [7]:
pd_volume_train['weekday'] = pd_volume_train['time'].dt.dayofweek + 1

In [8]:
pd_volume_train[pd_volume_train['weekday'] == 3]

,time,tollgate_id,direction,time_window,date,hour,volume,weekday
694,2016-09-21 00:00:00,1,0,"[00:00:00,00:20:00)",2016-09-21,0,12,3
695,2016-09-21 00:00:00,1,1,"[00:00:00,00:20:00)",2016-09-21,0,97,3
696,2016-09-21 00:00:00,2,0,"[00:00:00,00:20:00)",2016-09-21,0,2,3
697,2016-09-21 00:00:00,3,0,"[00:00:00,00:20:00)",2016-09-21,0,19,3
698,2016-09-21 00:00:00,3,1,"[00:00:00,00:20:00)",2016-09-21,0,124,3
699,2016-09-21 00:20:00,1,0,"[00:20:00,00:40:00)",2016-09-21,0,6,3
700,2016-09-21 00:20:00,1,1,"[00:20:00,00:40:00)",2016-09-21,0,64,3
701,2016-09-21 00:20:00,2,0,"[00:20:00,00:40:00)",2016-09-21,0,2,3
702,2016-09-21 00:20:00,3,0,"[00:20:00,00:40:00)",2016-09-21,0,17,3
703,2016-09-21 00:20:00,3,1,"[00:20:00,00:40:00)",2016-09-21,0,116,3
704,2016-09-21 00:40:00,1,0,"[00:40:00,01:00:00)",2016-09-21,0,7,3
705,2016-09-21 00:40:00,1,1,"[00:40:00,01:00:00)",2016-09-21,0,41,3
706,2016-09-21 00:40:00,2,0,"[00:40:00,01:00:00)",2016-09-21,0,2,3
707,2016-09-21 00:40:00,3,0,"[00:40:00,01:00:00)",2016-09-21,0,13,3
708,2016-09-21 00:40:00,3,1,"[00:40:00,01:00:00)",2016-09-21,0,54,3
709,2016-09-21 01:00:00,1,0,"[01:00:00,01:20:00)",2016-09-21,1,7,3
710,2016-09-21 01:00:00,1,1,"[01:00:00,01:20:00)",2016-09-21,1,9,3
711,2016-09-21 01:00:00,3,0,"[01:00:00,01:20:00)",2016-09-21,1,17,3
712,2016-09-21 01:00:00,3,1,"[01:00:00,01:20:00)",2016-09-21,1,7,3
713,2016-09-21 01:20:00,1,0,"[01:20:00,01:40:00)",2016-09-21,1,4,3
714,2016-09-21 01:20:00,1,1,"[01:20:00,01:40:00)",2016-09-21,1,8,3
715,2016-09-21 01:20:00,2,0,"[01:20:00,01:40:00)",2016-09-21,1,1,3
716,2016-09-21 01:20:00,3,0,"[01:20:00,01:40:00)",2016-09-21,1,16,3
717,2016-09-21 01:20:00,3,1,"[01:20:00,01:40:00)",2016-09-21,1,5,3
718,2016-09-21 01:40:00,1,0,"[01:40:00,02:00:00)",2016-09-21,1,6,3
719,2016-09-21 01:40:00,1,1,"[01:40:00,02:00:00)",2016-09-21,1,13,3
720,2016-09-21 01:40:00,2,0,"[01:40:00,02:00:00)",2016-09-21,1,1,3
721,2016-09-21 01:40:00,3,0,"[01:40:00,02:00:00)",2016-09-21,1,17,3
722,2016-09-21 01:40:00,3,1,"[01:40:00,02:00:00)",2016-09-21,1,7,3
723,2016-09-21 02:00:00,1,0,"[02:00:00,02:20:00)",2016-09-21,2,6,3
...,...,...,...,...,...,...,...,...
8273,2016-10-12 22:00:00,1,0,"[22:00:00,22:20:00)",2016-10-12,22,8,3
8274,2016-10-12 22:00:00,1,1,"[22:00:00,22:20:00)",2016-10-12,22,26,3
8275,2016-10-12 22:00:00,2,0,"[22:00:00,22:20:00)",2016-10-12,22,22,3
8276,2016-10-12 22:00:00,3,0,"[22:00:00,22:20:00)",2016-10-12,22,26,3
8277,2016-10-12 22:00:00,3,1,"[22:00:00,22:20:00)",2016-10-12,22,26,3
8278,2016-10-12 22:20:00,1,0,"[22:20:00,22:40:00)",2016-10-12,22,7,3
8279,2016-10-12 22:20:00,1,1,"[22:20:00,22:40:00)",2016-10-12,22,33,3
8280,2016-10-12 22:20:00,2,0,"[22:20:00,22:40:00)",2016-10-12,22,12,3
8281,2016-10-12 22:20:00,3,0,"[22:20:00,22:40:00)",2016-10-12,22,22,3
8282,2016-10-12 22:20:00,3,1,"[22:20:00,22:40:00)",2016-10-12,22,31,3
8283,2016-10-12 22:40:00,1,0,"[22:40:00,23:00:00)",2016-10-12,22,10,3
8284,2016-10-12 22:40:00,1,1,"[22:40:00,23:00:00)",2016-10-12,22,24,3
8285,2016-10-12 22:40:00,2,0,"[22:40:00,23:00:00)",2016-10-12,22,15,3
8286,2016-10-12 22:40:00,3,0,"[22:40:00,23:00:00)",2016-10-12,22,10,3
8287,2016-10-12 22:40:00,3,1,"[22:40:00,23:00:00)",2016-10-12,22,25,3
8288,2016-10-12 23:00:00,1,0,"[23:00:00,23:20:00)",2016-10-12,23,7,3
8289,2016-10-12 23:00:00,1,1,"[23:00:00,23:20:00)",2016-10-12,23,13,3
8290,2016-10-12 23:00:00,2,0,"[23:00:00,23:20:00)",2016-10-12,23,14,3
8291,2016-10-12 23:00:00,3,0,"[23:00:00,23:20:00)",2016-10-12,23,11,3
8292,2016-10-12 23:00:00,3,1,"[23:00:00,23:20:00)",2016-10-12,23,21,3
8293,2016-10-12 23:20:00,1,0,"[23:20:00,23:40:00)",2016-10-12,23,4,3
8294,2016-10-12 23:20:00,1,1,"[23:20:00,23:40:00)",2016-10-12,23,18,3
8295,2016-10-12 23:20:00,2,0,"[23:20:00,23:40:00)",2016-10-12,23,9,3
8296,2016-10-12 23:20:00,3,0,"[23:20:00,23:40:00)",2016-10-12,23,9,3
8297,2016-10-12 23:20:00,3,1,"[23:20:00,23:40:00)",2016-10-12,23,12,3
8298,2016-10-12 23:40:00,1,0,"[23:40:00,00:00:00)",2016-10-12,23,3,3
8299,2016-10-12 23:40:00,1,1,"[23:40:00,00:00:00)",2016-10-12,23,11,3
8300,2016-10-12 23:40:00,2,0,"[23:40:00,00:00:00)",2016-10-12,23,6,3
8301,2016-10-12 23:40:00,3,0,"[23:40:00,00:00:00)",2016-10-12,23,13,3
8302,2016-10-12 23:40:00,3,1,"[23:40:00,00:00:00)",2016-10-12,23,11,3

In [18]:
#Adicionando valor da janela de tempo anterior na janela de tempo atual
pd_volume_train["volume_anterior"] = pd_volume_train.groupby(['direction', 'tollgate_id'])["volume"].transform("shift")
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
pd_volume_train["volume_anterior"] =pd_volume_train.groupby(['direction', 'tollgate_id'])["volume_anterior"].fillna(method="ffill").fillna(0)
pd_volume_train

,time,tollgate_id,direction,time_window,date,hour,volume,weekday,volume_anterior
0,2016-09-19 00:00:00,1,0,"[00:00:00,00:20:00)",2016-09-19,0,13,1,0.0
1,2016-09-19 00:00:00,1,1,"[00:00:00,00:20:00)",2016-09-19,0,140,1,0.0
2,2016-09-19 00:00:00,2,0,"[00:00:00,00:20:00)",2016-09-19,0,2,1,0.0
3,2016-09-19 00:00:00,3,0,"[00:00:00,00:20:00)",2016-09-19,0,17,1,0.0
4,2016-09-19 00:00:00,3,1,"[00:00:00,00:20:00)",2016-09-19,0,181,1,0.0
5,2016-09-19 00:20:00,1,0,"[00:20:00,00:40:00)",2016-09-19,0,6,1,13.0
6,2016-09-19 00:20:00,1,1,"[00:20:00,00:40:00)",2016-09-19,0,56,1,140.0
7,2016-09-19 00:20:00,3,0,"[00:20:00,00:40:00)",2016-09-19,0,16,1,17.0
8,2016-09-19 00:20:00,3,1,"[00:20:00,00:40:00)",2016-09-19,0,112,1,181.0
9,2016-09-19 00:40:00,1,0,"[00:40:00,01:00:00)",2016-09-19,0,9,1,6.0
10,2016-09-19 00:40:00,1,1,"[00:40:00,01:00:00)",2016-09-19,0,31,1,56.0
11,2016-09-19 00:40:00,3,0,"[00:40:00,01:00:00)",2016-09-19,0,16,1,16.0
12,2016-09-19 00:40:00,3,1,"[00:40:00,01:00:00)",2016-09-19,0,93,1,112.0
13,2016-09-19 01:00:00,1,0,"[01:00:00,01:20:00)",2016-09-19,1,10,1,9.0
14,2016-09-19 01:00:00,1,1,"[01:00:00,01:20:00)",2016-09-19,1,4,1,31.0
15,2016-09-19 01:00:00,2,0,"[01:00:00,01:20:00)",2016-09-19,1,1,1,2.0
16,2016-09-19 01:00:00,3,0,"[01:00:00,01:20:00)",2016-09-19,1,17,1,16.0
17,2016-09-19 01:00:00,3,1,"[01:00:00,01:20:00)",2016-09-19,1,4,1,93.0
18,2016-09-19 01:20:00,1,0,"[01:20:00,01:40:00)",2016-09-19,1,14,1,10.0
19,2016-09-19 01:20:00,1,1,"[01:20:00,01:40:00)",2016-09-19,1,14,1,4.0
20,2016-09-19 01:20:00,3,0,"[01:20:00,01:40:00)",2016-09-19,1,17,1,17.0
21,2016-09-19 01:20:00,3,1,"[01:20:00,01:40:00)",2016-09-19,1,5,1,4.0
22,2016-09-19 01:40:00,1,0,"[01:40:00,02:00:00)",2016-09-19,1,10,1,14.0
23,2016-09-19 01:40:00,1,1,"[01:40:00,02:00:00)",2016-09-19,1,7,1,14.0
24,2016-09-19 01:40:00,2,0,"[01:40:00,02:00:00)",2016-09-19,1,2,1,1.0
25,2016-09-19 01:40:00,3,0,"[01:40:00,02:00:00)",2016-09-19,1,11,1,17.0
26,2016-09-19 01:40:00,3,1,"[01:40:00,02:00:00)",2016-09-19,1,4,1,5.0
27,2016-09-19 02:00:00,1,0,"[02:00:00,02:20:00)",2016-09-19,2,7,1,10.0
28,2016-09-19 02:00:00,1,1,"[02:00:00,02:20:00)",2016-09-19,2,7,1,7.0
29,2016-09-19 02:00:00,3,0,"[02:00:00,02:20:00)",2016-09-19,2,11,1,11.0
...,...,...,...,...,...,...,...,...,...
10033,2016-10-17 22:00:00,1,0,"[22:00:00,22:20:00)",2016-10-17,22,12,1,18.0
10034,2016-10-17 22:00:00,1,1,"[22:00:00,22:20:00)",2016-10-17,22,15,1,31.0
10035,2016-10-17 22:00:00,2,0,"[22:00:00,22:20:00)",2016-10-17,22,21,1,17.0
10036,2016-10-17 22:00:00,3,0,"[22:00:00,22:20:00)",2016-10-17,22,17,1,26.0
10037,2016-10-17 22:00:00,3,1,"[22:00:00,22:20:00)",2016-10-17,22,16,1,22.0
10038,2016-10-17 22:20:00,1,0,"[22:20:00,22:40:00)",2016-10-17,22,10,1,12.0
10039,2016-10-17 22:20:00,1,1,"[22:20:00,22:40:00)",2016-10-17,22,18,1,15.0
10040,2016-10-17 22:20:00,2,0,"[22:20:00,22:40:00)",2016-10-17,22,21,1,21.0
10041,2016-10-17 22:20:00,3,0,"[22:20:00,22:40:00)",2016-10-17,22,20,1,17.0
10042,2016-10-17 22:20:00,3,1,"[22:20:00,22:40:00)",2016-10-17,22,18,1,16.0
10043,2016-10-17 22:40:00,1,0,"[22:40:00,23:00:00)",2016-10-17,22,4,1,10.0
10044,2016-10-17 22:40:00,1,1,"[22:40:00,23:00:00)",2016-10-17,22,19,1,18.0
10045,2016-10-17 22:40:00,2,0,"[22:40:00,23:00:00)",2016-10-17,22,23,1,21.0
10046,2016-10-17 22:40:00,3,0,"[22:40:00,23:00:00)",2016-10-17,22,19,1,20.0
10047,2016-10-17 22:40:00,3,1,"[22:40:00,23:00:00)",2016-10-17,22,28,1,18.0
10048,2016-10-17 23:00:00,1,0,"[23:00:00,23:20:00)",2016-10-17,23,1,1,4.0
10049,2016-10-17 23:00:00,1,1,"[23:00:00,23:20:00)",2016-10-17,23,11,1,19.0
10050,2016-10-17 23:00:00,2,0,"[23:00:00,23:20:00)",2016-10-17,23,9,1,23.0
10051,2016-10-17 23:00:00,3,0,"[23:00:00,23:20:00)",2016-10-17,23,2,1,19.0
10052,2016-10-17 23:00:00,3,1,"[23:00:00,23:20:00)",2016-10-17,23,9,1,28.0
10053,2016-10-17 23:20:00,1,0,"[23:20:00,23:40:00)",2016-10-17,23,6,1,1.0
10054,2016-10-17 23:20:00,1,1,"[23:20:00,23:40:00)",2016-10-17,23,13,1,11.0
10055,2016-10-17 23:20:00,2,0,"[23:20:00,23:40:00)",2016-10-17,23,10,1,9.0
10056,2016-10-17 23:20:00,3,0,"[23:20:00,23:40:00)",2016-10-17,23,8,1,2.0
10057,2016-10-17 23:20:00,3,1,"[23:20:00,23:40:00)",2016-10-17,23,12,1,9.0
10058,2016-10-17 23:40:00,1,0,"[23:40:00,00:00:00)",2016-10-17,23,2,1,6.0
10059,2016-10-17 23:40:00,1,1,"[23:40:00,00:00:00)",2016-10-17,23,10,1,13.0
10060,2016-10-17 23:40:00,2,0,"[23:40:00,00:00:00)",2016-10-17,23,18,1,10.0
10061,2016-10-17 23:40:00,3,0,"[23:40:00,00:00:00)",2016-10-17,23,15,1,8.0
10062,2016-10-17 23:40:00,3,1,"[23:40:00,00:00:00)",2016-10-17,23,22,1,12.0

In [19]:
#Adicionando valor da janela de tempo (2x) anterior na janela de tempo atual
pd_volume_train["volume_anterior_2"] = pd_volume_train.groupby(['direction', 'tollgate_id'])["volume"].transform("shift", 2)
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
pd_volume_train["volume_anterior_2"] =pd_volume_train.groupby(['direction', 'tollgate_id'])["volume_anterior_2"].fillna(method="ffill").fillna(0)
pd_volume_train

,time,tollgate_id,direction,time_window,date,hour,volume,weekday,volume_anterior,volume_anterior_2
0,2016-09-19 00:00:00,1,0,"[00:00:00,00:20:00)",2016-09-19,0,13,1,0.0,0.0
1,2016-09-19 00:00:00,1,1,"[00:00:00,00:20:00)",2016-09-19,0,140,1,0.0,0.0
2,2016-09-19 00:00:00,2,0,"[00:00:00,00:20:00)",2016-09-19,0,2,1,0.0,0.0
3,2016-09-19 00:00:00,3,0,"[00:00:00,00:20:00)",2016-09-19,0,17,1,0.0,0.0
4,2016-09-19 00:00:00,3,1,"[00:00:00,00:20:00)",2016-09-19,0,181,1,0.0,0.0
5,2016-09-19 00:20:00,1,0,"[00:20:00,00:40:00)",2016-09-19,0,6,1,13.0,0.0
6,2016-09-19 00:20:00,1,1,"[00:20:00,00:40:00)",2016-09-19,0,56,1,140.0,0.0
7,2016-09-19 00:20:00,3,0,"[00:20:00,00:40:00)",2016-09-19,0,16,1,17.0,0.0
8,2016-09-19 00:20:00,3,1,"[00:20:00,00:40:00)",2016-09-19,0,112,1,181.0,0.0
9,2016-09-19 00:40:00,1,0,"[00:40:00,01:00:00)",2016-09-19,0,9,1,6.0,13.0
10,2016-09-19 00:40:00,1,1,"[00:40:00,01:00:00)",2016-09-19,0,31,1,56.0,140.0
11,2016-09-19 00:40:00,3,0,"[00:40:00,01:00:00)",2016-09-19,0,16,1,16.0,17.0
12,2016-09-19 00:40:00,3,1,"[00:40:00,01:00:00)",2016-09-19,0,93,1,112.0,181.0
13,2016-09-19 01:00:00,1,0,"[01:00:00,01:20:00)",2016-09-19,1,10,1,9.0,6.0
14,2016-09-19 01:00:00,1,1,"[01:00:00,01:20:00)",2016-09-19,1,4,1,31.0,56.0
15,2016-09-19 01:00:00,2,0,"[01:00:00,01:20:00)",2016-09-19,1,1,1,2.0,0.0
16,2016-09-19 01:00:00,3,0,"[01:00:00,01:20:00)",2016-09-19,1,17,1,16.0,16.0
17,2016-09-19 01:00:00,3,1,"[01:00:00,01:20:00)",2016-09-19,1,4,1,93.0,112.0
18,2016-09-19 01:20:00,1,0,"[01:20:00,01:40:00)",2016-09-19,1,14,1,10.0,9.0
19,2016-09-19 01:20:00,1,1,"[01:20:00,01:40:00)",2016-09-19,1,14,1,4.0,31.0
20,2016-09-19 01:20:00,3,0,"[01:20:00,01:40:00)",2016-09-19,1,17,1,17.0,16.0
21,2016-09-19 01:20:00,3,1,"[01:20:00,01:40:00)",2016-09-19,1,5,1,4.0,93.0
22,2016-09-19 01:40:00,1,0,"[01:40:00,02:00:00)",2016-09-19,1,10,1,14.0,10.0
23,2016-09-19 01:40:00,1,1,"[01:40:00,02:00:00)",2016-09-19,1,7,1,14.0,4.0
24,2016-09-19 01:40:00,2,0,"[01:40:00,02:00:00)",2016-09-19,1,2,1,1.0,2.0
25,2016-09-19 01:40:00,3,0,"[01:40:00,02:00:00)",2016-09-19,1,11,1,17.0,17.0
26,2016-09-19 01:40:00,3,1,"[01:40:00,02:00:00)",2016-09-19,1,4,1,5.0,4.0
27,2016-09-19 02:00:00,1,0,"[02:00:00,02:20:00)",2016-09-19,2,7,1,10.0,14.0
28,2016-09-19 02:00:00,1,1,"[02:00:00,02:20:00)",2016-09-19,2,7,1,7.0,14.0
29,2016-09-19 02:00:00,3,0,"[02:00:00,02:20:00)",2016-09-19,2,11,1,11.0,17.0
...,...,...,...,...,...,...,...,...,...,...
10033,2016-10-17 22:00:00,1,0,"[22:00:00,22:20:00)",2016-10-17,22,12,1,18.0,11.0
10034,2016-10-17 22:00:00,1,1,"[22:00:00,22:20:00)",2016-10-17,22,15,1,31.0,24.0
10035,2016-10-17 22:00:00,2,0,"[22:00:00,22:20:00)",2016-10-17,22,21,1,17.0,20.0
10036,2016-10-17 22:00:00,3,0,"[22:00:00,22:20:00)",2016-10-17,22,17,1,26.0,31.0
10037,2016-10-17 22:00:00,3,1,"[22:00:00,22:20:00)",2016-10-17,22,16,1,22.0,25.0
10038,2016-10-17 22:20:00,1,0,"[22:20:00,22:40:00)",2016-10-17,22,10,1,12.0,18.0
10039,2016-10-17 22:20:00,1,1,"[22:20:00,22:40:00)",2016-10-17,22,18,1,15.0,31.0
10040,2016-10-17 22:20:00,2,0,"[22:20:00,22:40:00)",2016-10-17,22,21,1,21.0,17.0
10041,2016-10-17 22:20:00,3,0,"[22:20:00,22:40:00)",2016-10-17,22,20,1,17.0,26.0
10042,2016-10-17 22:20:00,3,1,"[22:20:00,22:40:00)",2016-10-17,22,18,1,16.0,22.0
10043,2016-10-17 22:40:00,1,0,"[22:40:00,23:00:00)",2016-10-17,22,4,1,10.0,12.0
10044,2016-10-17 22:40:00,1,1,"[22:40:00,23:00:00)",2016-10-17,22,19,1,18.0,15.0
10045,2016-10-17 22:40:00,2,0,"[22:40:00,23:00:00)",2016-10-17,22,23,1,21.0,21.0
10046,2016-10-17 22:40:00,3,0,"[22:40:00,23:00:00)",2016-10-17,22,19,1,20.0,17.0
10047,2016-10-17 22:40:00,3,1,"[22:40:00,23:00:00)",2016-10-17,22,28,1,18.0,16.0
10048,2016-10-17 23:00:00,1,0,"[23:00:00,23:20:00)",2016-10-17,23,1,1,4.0,10.0
10049,2016-10-17 23:00:00,1,1,"[23:00:00,23:20:00)",2016-10-17,23,11,1,19.0,18.0
10050,2016-10-17 23:00:00,2,0,"[23:00:00,23:20:00)",2016-10-17,23,9,1,23.0,21.0
10051,2016-10-17 23:00:00,3,0,"[23:00:00,23:20:00)",2016-10-17,23,2,1,19.0,20.0
10052,2016-10-17 23:00:00,3,1,"[23:00:00,23:20:00)",2016-10-17,23,9,1,28.0,18.0
10053,2016-10-17 23:20:00,1,0,"[23:20:00,23:40:00)",2016-10-17,23,6,1,1.0,4.0
10054,2016-10-17 23:20:00,1,1,"[23:20:00,23:40:00)",2016-10-17,23,13,1,11.0,19.0
10055,2016-10-17 23:20:00,2,0,"[23:20:00,23:40:00)",2016-10-17,23,10,1,9.0,23.0
10056,2016-10-17 23:20:00,3,0,"[23:20:00,23:40:00)",2016-10-17,23,8,1,2.0,19.0
10057,2016-10-17 23:20:00,3,1,"[23:20:00,23:40:00)",2016-10-17,23,12,1,9.0,28.0
10058,2016-10-17 23:40:00,1,0,"[23:40:00,00:00:00)",2016-10-17,23,2,1,6.0,1.0
10059,2016-10-17 23:40:00,1,1,"[23:40:00,00:00:00)",2016-10-17,23,10,1,13.0,11.0
10060,2016-10-17 23:40:00,2,0,"[23:40:00,00:00:00)",2016-10-17,23,18,1,10.0,9.0
10061,2016-10-17 23:40:00,3,0,"[23:40:00,00:00:00)",2016-10-17,23,15,1,8.0,2.0
10062,2016-10-17 23:40:00,3,1,"[23:40:00,00:00:00)",2016-10-17,23,22,1,12.0,9.0

In [20]:
pd_volume_train.head()

,time,tollgate_id,direction,time_window,date,hour,volume,weekday,volume_anterior,volume_anterior_2
0,2016-09-19,1,0,"[00:00:00,00:20:00)",2016-09-19,0,13,1,0.0,0.0
1,2016-09-19,1,1,"[00:00:00,00:20:00)",2016-09-19,0,140,1,0.0,0.0
2,2016-09-19,2,0,"[00:00:00,00:20:00)",2016-09-19,0,2,1,0.0,0.0
3,2016-09-19,3,0,"[00:00:00,00:20:00)",2016-09-19,0,17,1,0.0,0.0
4,2016-09-19,3,1,"[00:00:00,00:20:00)",2016-09-19,0,181,1,0.0,0.0

In [50]:
# Converte array em matriz
def create_dataset(dataset, look_back=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-look_back-1):
        a = dataset[i:(i+look_back), 0]
        dataX.append(a)
        dataY.append(dataset[i + look_back, 0])
    return numpy.array(dataX), numpy.array(dataY)

In [22]:
# Transpõe
#df_transp = df.T

# Seta o nome das colunas para os valores da primeira linha
#df_transp.columns = df_transp.iloc[0]

# Define os dados começando a partir da segunda linha
#df_transp = df_transp[1:]

#df_transp.loc[:,'media'] = df_transp.mean(numeric_only=True, axis=0).values

#df_transf = pd_volume_train.set_index(['time'])

# 车流量
#t6_train = t6_train.groupby([pd.TimeGrouper('20Min'), 'tollgate_id', 'direction']).size()\
#       .reset_index().rename(columns = {0:'volume'})

#t6_train = t6_train.set_index(['time'])

# 车流量
#t6_train = t6_train.groupby([pd.TimeGrouper('20Min'), 'tollgate_id', 'direction']).size()\
#       .reset_index().rename(columns = {0:'volume'})

#df_transf = pd_volume_train.groupby(['time_window','weekday','tollgate_id', 'direction', 'date']).size()\
 #      .reset_index().rename(columns = {0:'volume'})

df_transf = pd_volume_train
df_transf.head()

,time,tollgate_id,direction,time_window,date,hour,volume,weekday,volume_anterior,volume_anterior_2
0,2016-09-19,1,0,"[00:00:00,00:20:00)",2016-09-19,0,13,1,0.0,0.0
1,2016-09-19,1,1,"[00:00:00,00:20:00)",2016-09-19,0,140,1,0.0,0.0
2,2016-09-19,2,0,"[00:00:00,00:20:00)",2016-09-19,0,2,1,0.0,0.0
3,2016-09-19,3,0,"[00:00:00,00:20:00)",2016-09-19,0,17,1,0.0,0.0
4,2016-09-19,3,1,"[00:00:00,00:20:00)",2016-09-19,0,181,1,0.0,0.0

In [23]:
df_transf['media_volume'] = df_transf.groupby(['time_window', 'weekday', 'direction', 'tollgate_id'])["volume"].transform(np.mean)

In [24]:
#df_transf['media_volume'] = df_transf['soma'].mean
df_transf.head()
#del df_transf['soma']

,time,tollgate_id,direction,time_window,date,hour,volume,weekday,volume_anterior,volume_anterior_2,media_volume
0,2016-09-19,1,0,"[00:00:00,00:20:00)",2016-09-19,0,13,1,0.0,0.0,14.000000
1,2016-09-19,1,1,"[00:00:00,00:20:00)",2016-09-19,0,140,1,0.0,0.0,102.000000
2,2016-09-19,2,0,"[00:00:00,00:20:00)",2016-09-19,0,2,1,0.0,0.0,2.333333
3,2016-09-19,3,0,"[00:00:00,00:20:00)",2016-09-19,0,17,1,0.0,0.0,17.600000
4,2016-09-19,3,1,"[00:00:00,00:20:00)",2016-09-19,0,181,1,0.0,0.0,127.600000

In [379]:
values = np.array(df_transf['volume'])

In [382]:
values

array([ 13,  37,  24,  30,  23,  17,  47,  36,  42,  29,  21,  72,  46,
        85,  50,  31,  68,  83, 114,  56,  28,  94,  87, 131,  77,  47,
       105,  97, 164,  91,  52,  72,  74, 116,  81,  38, 102,  78,  87,
        91,  35, 116,  53, 106,  83,  57, 102,  62, 109,  84,  45,  84,
        63, 117,  92,  53, 113,  83, 118,  83,  12,  48,  26,  24,  21,
        16,  28,  45,  57,  26,  17,  57,  47,  75,  43,  22,  67,  87,
       119,  53,  38,  98,  95, 137,  63,  41, 103,  99, 152, 104,  40,
        83,  70, 107,  99,  34,  99,  69,  96, 108,  50,  92,  58,  95,
        79,  39,  82,  55, 109,  82,  40,  80,  61, 105,  89,  36,  85,
        64,  95,  75,   8,  46,  21,  37,  16,  16,  27,  23,  44,  49,
        23,  55,  42,  73,  37,  22,  71,  76, 114,  47,  33,  88,  89,
       123,  60,  37, 111, 112, 120, 104,  40,  97,  72,  92, 100,  41,
       115,  79, 107, 105,  42, 120,  70, 108,  74,  46,  90,  66, 121,
        92,  36,  73,  67, 106,  84,  37, 119,  75, 147,  88,   8,  33,
        16,  22,  21,  13,  39,  24,  49,  28,  21,  54,  39,  66,  42,
        32,  65,  66, 116,  54,  41, 102,  77, 135,  76,  38,  87,  90,
       155,  79,  47, 113,  93, 127, 113,  49, 106,  76, 168, 100,  55,
       129,  92, 157,  96,  59, 107,  80, 155,  78,  65, 107,  97, 152,
        92,  68, 109,  78, 165, 104,   7,  31,  22,  27,  19,   8,  36,
        22,  37,  18,  22,  56,  43,  51,  25,  14,  49,  24,  76,  38,
        27,  44,  49,  89,  39,  34,  74,  55,  77,  69,  37, 100,  77,
       106,  73,  47,  96,  77,  99,  82,  52,  95,  61, 114,  97,  47,
       109,  80, 115,  94,  56, 102,  67, 115,  72,  54,  79,  69, 101,
        87,  13,  26,   8,  18,   9,  10,  50,  11,  29,  19,   8,  33,
        25,  43,  33,  17,  45,  29,  51,  36,  24,  41,  35,  71,  53,
        30,  66,  42,  66,  51,  61, 101,  76, 122, 137,  65, 124,  83,
       109, 117,  61, 114,  74, 133,  89,  60, 104,  61, 122,  95,  58,
       113,  72, 110,  91,  62, 108,  61, 122, 104,  18,  31,  27,  41,
        23,  21,  57,  39,  53,  41,  24,  59,  52, 105,  60,  35,  76,
       104, 150,  75,  34, 116, 111, 148, 101,  43, 126, 123, 171,  99,
        50,  82,  67, 141,  80,  47,  80,  73, 105, 102,  26, 103,  71,
       105,  71,  49,  99,  69, 115, 101,  50, 108,  75, 100,  80,  44,
       103,  80, 130,  81])

In [25]:
df_transf['desvio_padrao'] = df_transf.groupby(['time_window', 'weekday', 'direction', 'tollgate_id'])["volume"].transform(np.std)

In [26]:
df_transf.head()
#del df_transf['desvio_padrao']

,time,tollgate_id,direction,time_window,date,hour,volume,weekday,volume_anterior,volume_anterior_2,media_volume,desvio_padrao
0,2016-09-19,1,0,"[00:00:00,00:20:00)",2016-09-19,0,13,1,0.0,0.0,14.000000,4.795832
1,2016-09-19,1,1,"[00:00:00,00:20:00)",2016-09-19,0,140,1,0.0,0.0,102.000000,45.912961
2,2016-09-19,2,0,"[00:00:00,00:20:00)",2016-09-19,0,2,1,0.0,0.0,2.333333,0.577350
3,2016-09-19,3,0,"[00:00:00,00:20:00)",2016-09-19,0,17,1,0.0,0.0,17.600000,2.607681
4,2016-09-19,3,1,"[00:00:00,00:20:00)",2016-09-19,0,181,1,0.0,0.0,127.600000,58.734998

In [27]:
#df_transf['mediaArredondada'] = df_transf['media_volume'].sum()
#df_transf['mediaArrendodada'] = df_transf['media_volume'].mean()
df_transf['desvio_padrao'].fillna(df_transf.groupby(['time_window', 'weekday', 'direction', 'tollgate_id'])["volume"].transform(np.mean), inplace=True)
#del df_transf['mediaArredondada']

In [28]:
df_transf.isnull().sum()

time                 0
tollgate_id          0
direction            0
time_window          0
date                 0
hour                 0
volume               0
weekday              0
volume_anterior      0
volume_anterior_2    0
media_volume         0
desvio_padrao        0
dtype: int64

In [29]:
df_transf.to_csv('dados_treino_volume_com_valor_anterior.csv', index = False)

In [446]:
#df_transf.isnull().sum()
medi

time              0
tollgate_id       0
direction         0
time_window       0
date              0
hour              0
volume            0
weekday           0
media_volume      0
desvio_padrao    27
dtype: int64

In [39]:
pd_volume_test = pd.read_csv('processed_test_volume2.csv')

In [40]:
pd_volume_test.head()

,time,tollgate_id,direction,vehicle_model,has_etc,vehicle_type,weekday,weekend,hour,date,holiday,time_window
0,2016-10-18 07:59:04,2,0,1,1,0,2,0,7,2016-10-18,False,"[07:40:00,08:00:00)"
1,2016-10-18 07:59:31,2,0,1,1,0,2,0,7,2016-10-18,False,"[07:40:00,08:00:00)"
2,2016-10-18 07:59:50,2,0,1,1,0,2,0,7,2016-10-18,False,"[07:40:00,08:00:00)"
3,2016-10-18 07:32:33,3,0,1,1,0,2,0,7,2016-10-18,False,"[07:20:00,07:40:00)"
4,2016-10-18 07:32:46,3,0,1,1,0,2,0,7,2016-10-18,False,"[07:20:00,07:40:00)"

In [41]:
pd_volume_test['time'] =  pd.to_datetime(pd_volume_test['time'] , format='%Y-%m-%d %H:%M:%S')
#pd_volume_train = pd_volume_train.set_index(['time_window'])

# 车流量
pd_volume_test = pd_volume_test.groupby([pd.Grouper(freq='20T', key='time'), 'tollgate_id', 'direction', 'time_window', 'date', 'hour']).size()\
       .reset_index().rename(columns = {0:'volume'})

In [42]:
pd_volume_test.head()

,time,tollgate_id,direction,time_window,date,hour,volume
0,2016-10-18 06:00:00,1,0,"[06:00:00,06:20:00)",2016-10-18,6,13
1,2016-10-18 06:00:00,1,1,"[06:00:00,06:20:00)",2016-10-18,6,37
2,2016-10-18 06:00:00,2,0,"[06:00:00,06:20:00)",2016-10-18,6,24
3,2016-10-18 06:00:00,3,0,"[06:00:00,06:20:00)",2016-10-18,6,30
4,2016-10-18 06:00:00,3,1,"[06:00:00,06:20:00)",2016-10-18,6,23

In [43]:
pd_volume_test['weekday'] = pd_volume_test['time'].dt.dayofweek + 1

In [44]:
pd_volume_test[pd_volume_test['weekday'] == 3].head()

,time,tollgate_id,direction,time_window,date,hour,volume,weekday
60,2016-10-19 06:00:00,1,0,"[06:00:00,06:20:00)",2016-10-19,6,12,3
61,2016-10-19 06:00:00,1,1,"[06:00:00,06:20:00)",2016-10-19,6,48,3
62,2016-10-19 06:00:00,2,0,"[06:00:00,06:20:00)",2016-10-19,6,26,3
63,2016-10-19 06:00:00,3,0,"[06:00:00,06:20:00)",2016-10-19,6,24,3
64,2016-10-19 06:00:00,3,1,"[06:00:00,06:20:00)",2016-10-19,6,21,3

In [46]:
pd_volume_test["volume_anterior"] = pd_volume_test.groupby(['direction', 'tollgate_id'])["volume"].transform("shift")
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
pd_volume_test["volume_anterior"] =pd_volume_test.groupby("time_window")["volume_anterior"].fillna(method="ffill").fillna(0)
pd_volume_test.head()

,time,tollgate_id,direction,time_window,date,hour,volume,weekday,volume_anterior
0,2016-10-18 06:00:00,1,0,"[06:00:00,06:20:00)",2016-10-18,6,13,2,0.0
1,2016-10-18 06:00:00,1,1,"[06:00:00,06:20:00)",2016-10-18,6,37,2,0.0
2,2016-10-18 06:00:00,2,0,"[06:00:00,06:20:00)",2016-10-18,6,24,2,0.0
3,2016-10-18 06:00:00,3,0,"[06:00:00,06:20:00)",2016-10-18,6,30,2,0.0
4,2016-10-18 06:00:00,3,1,"[06:00:00,06:20:00)",2016-10-18,6,23,2,0.0

In [50]:
pd_volume_test["volume_anterior_2"] = pd_volume_test.groupby(['direction', 'tollgate_id'])["volume"].transform("shift", 2)
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
pd_volume_test["volume_anterior_2"] =pd_volume_test.groupby("time_window")["volume_anterior_2"].fillna(method="ffill").fillna(0)
pd_volume_test.head()

,time,tollgate_id,direction,time_window,date,hour,volume,weekday,volume_anterior,volume_anterior_2
0,2016-10-18 06:00:00,1,0,"[06:00:00,06:20:00)",2016-10-18,6,13,2,0.0,0.0
1,2016-10-18 06:00:00,1,1,"[06:00:00,06:20:00)",2016-10-18,6,37,2,0.0,0.0
2,2016-10-18 06:00:00,2,0,"[06:00:00,06:20:00)",2016-10-18,6,24,2,0.0,0.0
3,2016-10-18 06:00:00,3,0,"[06:00:00,06:20:00)",2016-10-18,6,30,2,0.0,0.0
4,2016-10-18 06:00:00,3,1,"[06:00:00,06:20:00)",2016-10-18,6,23,2,0.0,0.0

In [51]:
pd_volume_test['media_volume'] = pd_volume_test.groupby(['time_window', 'direction', 'tollgate_id'])["volume"].transform(np.mean)

In [118]:
pd_volume_test.tail()

,time,tollgate_id,direction,time_window,date,hour,volume,weekday,volume_anterior,volume_anterior_2,media_volume,desvio_padrao
415,2016-10-24 16:40:00,1,0,"[16:40:00,17:00:00)",2016-10-24,16,44,1,50.0,49.0,50.571429,12.190941
416,2016-10-24 16:40:00,1,1,"[16:40:00,17:00:00)",2016-10-24,16,103,1,108.0,99.0,102.285714,14.795430
417,2016-10-24 16:40:00,2,0,"[16:40:00,17:00:00)",2016-10-24,16,80,1,75.0,69.0,72.857143,8.355209
418,2016-10-24 16:40:00,3,0,"[16:40:00,17:00:00)",2016-10-24,16,130,1,100.0,115.0,125.428571,24.636404
419,2016-10-24 16:40:00,3,1,"[16:40:00,17:00:00)",2016-10-24,16,81,1,80.0,101.0,88.857143,11.186727

In [53]:
pd_volume_test['desvio_padrao'] = pd_volume_test.groupby(['time_window', 'direction', 'tollgate_id'])["volume"].transform(np.std)

In [54]:
pd_volume_test.isnull().sum()

time                 0
tollgate_id          0
direction            0
time_window          0
date                 0
hour                 0
volume               0
weekday              0
volume_anterior      0
volume_anterior_2    0
media_volume         0
desvio_padrao        0
dtype: int64

In [16]:
ve_train = pd.read_csv('dados_treino_volume_com_valor_anterior.csv')
ve_test = pd.read_csv('dados_teste_volume_com_valor_anterior.csv')
ve_test.count()

time                 420
tollgate_id          420
direction            420
time_window          420
date                 420
hour                 420
volume               420
weekday              420
volume_anterior      420
volume_anterior_2    420
media_volume         420
desvio_padrao        420
dtype: int64

In [55]:
pd_volume_test.to_csv('dados_teste_volume_com_valor_anterior.csv', index = False)

In [4]:
def feature_format():
    v_train = pd.read_csv('dados_treino_volume_com_valor_anterior.csv')
    v_test = pd.read_csv('dados_teste_volume_com_valor_anterior.csv')
    #pd_volume_train = pd_volume_train.set_index(['time'])
    #pd_volume_test = pd_volume_test.set_index(['time'])
    #volume_train = v_train.groupby(['time_window','tollgate_id','direction','date', 'hour']).size().reset_index().rename(columns = {0:'volume'})
    #volume_test = v_test.groupby(['time_window','tollgate_id','direction','date', 'hour']).size().reset_index().rename(columns = {0:'volume'})
    #print(volume_train)                
    x = pd.Series(v_train['time_window'].unique())
    s = pd.Series(range(len(x)),index = x.values)
    v_train['window_n'] = v_train['time_window'].map(s)
    v_test['window_n'] = v_test['time_window'].map(s)
#        print vol_test.tail()
    #volume_train['weekday'] = v_train['weekday']
    #volume_test['weekday'] = v_test['weekday']
    
    feature_train = v_train.drop('volume', axis = 1)
    feature_test = v_test.drop('volume',axis = 1)
    values_train = v_train['volume'].values
    values_test = v_test['volume'].values
    
    return feature_train, feature_test, values_train, values_test

In [5]:
feature_train, feature_test, values_train, values_test = feature_format()

In [21]:
feature_test.count()
#pd_volume_train[pd_volume_train['weekday'] == 3].head()

time                 420
tollgate_id          420
direction            420
time_window          420
date                 420
hour                 420
weekday              420
volume_anterior      420
volume_anterior_2    420
media_volume         420
desvio_padrao        420
window_n             420
dtype: int64

In [20]:
len(values_train)

10063

In [10]:
rng = np.random.RandomState(1)
regr = AdaBoostRegressor(DecisionTreeRegressor(max_depth = 50),
                         n_estimators=300, random_state = rng)

In [12]:
regr.fit(feature_train[['window_n','tollgate_id', 'direction', 'weekday', 'volume_anterior', 'volume_anterior_2','media_volume', 'desvio_padrao']], values_train)

y_pred = regr.predict(feature_test[['window_n','tollgate_id', 'direction', 'weekday', 'volume_anterior','volume_anterior_2', 'media_volume', 'desvio_padrao']])

mape = np.mean(np.abs((y_pred - values_test)/values_test))

#print (feature_test)
len(y_pred)
#regr.score(feature_train[['window_n','tollgate_id', 'direction', 'weekday', 'volume_anterior','volume_anterior_2','media_volume', 'desvio_padrao']], values_train)

420

In [32]:
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1500, random_state = 42)
# Train the model on training data
rf.fit(feature_train[['tollgate_id', 'direction', 'weekday','volume_anterior','media_volume', 'desvio_padrao']], values_train);

In [33]:
# Use the forest's predict method on the test data
predictions = rf.predict(feature_test[['tollgate_id', 'direction', 'weekday', 'volume_anterior', 'media_volume', 'desvio_padrao']])
# Calculate the absolute errors
errors = abs(predictions - values_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 10.52 degrees.

In [34]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / values_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 79.11 %.

In [16]:
#Função que calcula o MAPE
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [17]:
mean_absolute_percentage_error(predictions, values_test)

17.055947039552795