In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from datetime import time
import matplotlib.pyplot as pplot
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
import math
import random
from sklearn.metrics import mean_absolute_error

/home/matheuspds/miniconda3/lib/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Sequence
/home/matheuspds/miniconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [65]:
v_train = pd.read_csv('treino_agregado.csv')
v_test = pd.read_csv('teste_agregado.csv')

In [66]:
#Adicionando valor da janela de tempo anterior na janela de tempo atual
v_train["volume_anterior"] = v_train.groupby(['direction', 'tollgate_id'])["volume"].transform("shift")
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
v_train["volume_anterior"] =v_train.groupby(['direction', 'tollgate_id'])["volume_anterior"].fillna(method="ffill").fillna(0)

In [67]:
#Adicionando valor da janela de tempo anterior na janela de tempo atual
v_train["volume_anterior_2"] = v_train.groupby(['direction', 'tollgate_id'])["volume"].transform("shift", 2)
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
v_train["volume_anterior_2"] =v_train.groupby(['direction', 'tollgate_id'])["volume_anterior_2"].fillna(method="ffill").fillna(0)

In [69]:
#Adicionando valor da janela de tempo anterior na janela de tempo atual
v_train["volume_proximo"] = v_train.groupby(['direction', 'tollgate_id'])["volume"].transform("shift", -1)
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
v_train["volume_proximo"] =v_train.groupby(['direction', 'tollgate_id'])["volume_proximo"].fillna(method="ffill").fillna(0)

In [71]:
#Adicionando valor da janela de tempo anterior na janela de tempo atual
v_train["volume_proximo_2"] = v_train.groupby(['direction', 'tollgate_id'])["volume"].transform("shift", -2)
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
v_train["volume_proximo_2"] =v_train.groupby(['direction', 'tollgate_id'])["volume_proximo_2"].fillna(method="ffill").fillna(0)

In [73]:
v_train['avg_vol_dia_semana'] = v_train.groupby(['time_window', 'week', 'direction', 'tollgate_id'])["volume"].transform(np.mean)

In [75]:
v_train['desvio_padrao'] = v_train.groupby(['time_window', 'week', 'direction', 'tollgate_id'])["volume"].transform(np.std)

In [77]:
v_train['desvio_padrao'].fillna(v_train.groupby(['time_window', 'week', 'direction', 'tollgate_id'])["volume"].transform(np.mean), inplace=True)

In [78]:
v_train

,time,tollgate_id,direction,time_window,volume,day,hour,minute,week,weekend,am_pm,volume_anterior,volume_anterior_2,volume_proximo,volume_proximo_2,avg_vol_dia_semana,desvio_padrao
0,2016-09-19 00:00:00,1,0,"[00:00:00,00:20:00)",13,19,0,0,0,0,1,0.0,0.0,6.0,9.0,13.166667,4.750439
1,2016-09-19 00:00:00,1,1,"[00:00:00,00:20:00)",140,19,0,0,0,0,1,0.0,0.0,56.0,31.0,109.833333,45.327328
2,2016-09-19 00:00:00,2,0,"[00:00:00,00:20:00)",2,19,0,0,0,0,1,0.0,0.0,1.0,2.0,2.750000,0.957427
3,2016-09-19 00:00:00,3,0,"[00:00:00,00:20:00)",17,19,0,0,0,0,1,0.0,0.0,16.0,16.0,17.000000,2.756810
4,2016-09-19 00:00:00,3,1,"[00:00:00,00:20:00)",181,19,0,0,0,0,1,0.0,0.0,112.0,93.0,126.000000,52.680167
5,2016-09-19 00:20:00,1,0,"[00:20:00,00:40:00)",6,19,0,20,0,0,1,13.0,0.0,9.0,10.0,10.166667,3.816630
6,2016-09-19 00:20:00,1,1,"[00:20:00,00:40:00)",56,19,0,20,0,0,1,140.0,0.0,31.0,4.0,51.500000,16.428634
7,2016-09-19 00:20:00,3,0,"[00:20:00,00:40:00)",16,19,0,20,0,0,1,17.0,0.0,16.0,17.0,17.166667,3.430258
8,2016-09-19 00:20:00,3,1,"[00:20:00,00:40:00)",112,19,0,20,0,0,1,181.0,0.0,93.0,4.0,83.666667,32.903900
9,2016-09-19 00:40:00,1,0,"[00:40:00,01:00:00)",9,19,0,40,0,0,1,6.0,13.0,10.0,14.0,8.500000,2.664583
10,2016-09-19 00:40:00,1,1,"[00:40:00,01:00:00)",31,19,0,40,0,0,1,56.0,140.0,4.0,14.0,32.166667,9.867455
11,2016-09-19 00:40:00,3,0,"[00:40:00,01:00:00)",16,19,0,40,0,0,1,16.0,17.0,17.0,17.0,15.166667,2.994439
12,2016-09-19 00:40:00,3,1,"[00:40:00,01:00:00)",93,19,0,40,0,0,1,112.0,181.0,4.0,5.0,67.833333,25.317320
13,2016-09-19 01:00:00,1,0,"[01:00:00,01:20:00)",10,19,1,0,0,0,1,9.0,6.0,14.0,10.0,6.166667,2.857738
14,2016-09-19 01:00:00,1,1,"[01:00:00,01:20:00)",4,19,1,0,0,0,1,31.0,56.0,14.0,7.0,4.000000,1.549193
15,2016-09-19 01:00:00,2,0,"[01:00:00,01:20:00)",1,19,1,0,0,0,1,2.0,0.0,2.0,14.0,1.500000,0.707107
16,2016-09-19 01:00:00,3,0,"[01:00:00,01:20:00)",17,19,1,0,0,0,1,16.0,16.0,17.0,11.0,19.666667,2.804758
17,2016-09-19 01:00:00,3,1,"[01:00:00,01:20:00)",4,19,1,0,0,0,1,93.0,112.0,5.0,4.0,8.500000,3.937004
18,2016-09-19 01:20:00,1,0,"[01:20:00,01:40:00)",14,19,1,20,0,0,1,10.0,9.0,10.0,7.0,7.500000,4.593474
19,2016-09-19 01:20:00,1,1,"[01:20:00,01:40:00)",14,19,1,20,0,0,1,4.0,31.0,7.0,7.0,8.333333,4.885352
20,2016-09-19 01:20:00,3,0,"[01:20:00,01:40:00)",17,19,1,20,0,0,1,17.0,16.0,11.0,11.0,19.333333,4.589844
21,2016-09-19 01:20:00,3,1,"[01:20:00,01:40:00)",5,19,1,20,0,0,1,4.0,93.0,4.0,5.0,6.166667,3.868678
22,2016-09-19 01:40:00,1,0,"[01:40:00,02:00:00)",10,19,1,40,0,0,1,14.0,10.0,7.0,10.0,7.833333,1.834848
23,2016-09-19 01:40:00,1,1,"[01:40:00,02:00:00)",7,19,1,40,0,0,1,14.0,4.0,7.0,7.0,6.333333,3.076795
24,2016-09-19 01:40:00,2,0,"[01:40:00,02:00:00)",2,19,1,40,0,0,1,1.0,2.0,14.0,12.0,1.500000,0.707107
25,2016-09-19 01:40:00,3,0,"[01:40:00,02:00:00)",11,19,1,40,0,0,1,17.0,17.0,11.0,14.0,13.166667,2.926887
26,2016-09-19 01:40:00,3,1,"[01:40:00,02:00:00)",4,19,1,40,0,0,1,5.0,4.0,5.0,4.0,4.833333,2.857738
27,2016-09-19 02:00:00,1,0,"[02:00:00,02:20:00)",7,19,2,0,0,0,1,10.0,14.0,10.0,6.0,6.333333,1.632993
28,2016-09-19 02:00:00,1,1,"[02:00:00,02:20:00)",7,19,2,0,0,0,1,7.0,14.0,7.0,10.0,5.833333,1.471960
29,2016-09-19 02:00:00,3,0,"[02:00:00,02:20:00)",11,19,2,0,0,0,1,11.0,17.0,14.0,18.0,10.666667,1.505545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12478,2016-10-24 22:00:00,1,0,"[22:00:00,22:20:00)",10,24,22,0,0,0,0,14.0,14.0,11.0,7.0,12.833333,11.771434
12479,2016-10-24 22:00:00,1,1,"[22:00:00,22:20:00)",25,24,22,0,0,0,0,23.0,24.0,23.0,17.0,16.166667,9.304121
12480,2016-10-24 22:00:00,2,0,"[22:00:00,22:20:00)",20,24,22,0,0,0,0,18.0,28.0,20.0,19.0,19.000000,9.186947
12481,2016-10-24 22:00:00,3,0,"[22:00:00,22:20:00)",22,24,22,0,0,0,0,34.0,35.0,17.0,21.0,22.166667,4.445972
12482,2016-10-24 22:00:00,3,1,"[22:00:00,22:20:00)",19,24,22,0,0,0,0,34.0,38.0,30.0,33.0,16.000000,7.456541
12483,2016-10-24 22:20:00,1,0,"[22:20:00,22:40:00)",11,24,22,20,0,0,0,10.0,14.0,7.0,11.0,15.833333,12.859497
12484,2016-10-24 22:20:00,1,1,"[22:20:00,22:40:00)",23,24,22,20,0,0,0,25.0,23.0,17.0,14.0,20.666667,8.382521
12485,2016-10-24 22:20:00,2,0,"[22:20:00,22:40:00)",20,24,22,20,0,0,0,20.0,18.0,19.0,7.0,17.600000,3.507136
12486,2016-10-24 22:20:00,3,0,"[22:20:00,22:40:00)",17,24,22,20,0,0,0,22.0,34.0,21.0,14.0,22.000000,3.847077
12487,2016-10-24 22:20:00,3,1,"[22:20:00,22:40:00)",30,24,22,20,0,0,0,19.0,34.0,33.0,11.0,19.000000,9.549869
12488,2016-10-24 22:40:00,1,0,"[22:40:00,23:00:00)",7,24,22,40,0,0,0,11.0,10.0,11.0,7.0,10.666667,14.431447
12489,2016-10-24 22:40:00,1,1,"[22:40:00,23:00:00)",17,24,22,40,0,0,0,23.0,25.0,14.0,14.0,15.333333,5.819507
12490,2016-10-24 22:40:00,2,0,"[22:40:00,23:00:00)",19,24,22,40,0,0,0,20.0,20.0,7.0,3.0,18.600000,5.594640
12491,2016-10-24 22:40:00,3,0,"[22:40:00,23:00:00)",21,24,22,40,0,0,0,17.0,22.0,14.0,14.0,19.333333,5.085928
12492,2016-10-24 22:40:00,3,1,"[22:40:00,23:00:00)",33,24,22,40,0,0,0,30.0,19.0,11.0,13.0,24.000000,8.099383
12493,2016-10-24 23:00:00,1,0,"[23:00:00,23:20:00)",11,24,23,0,0,0,0,7.0,11.0,7.0,2.0,10.333333,13.721030
12494,2016-10-24 23:00:00,1,1,"[23:00:00,23:20:00)",14,24,23,0,0,0,0,17.0,23.0,14.0,13.0,11.833333,4.875107
12495,2016-10-24 23:00:00,2,0,"[23:00:00,23:20:00)",7,24,23,0,0,0,0,19.0,20.0,3.0,9.0,8.800000,5.495453
12496,2016-10-24 23:00:00,3,0,"[23:00:00,23:20:00)",14,24,23,0,0,0,0,21.0,17.0,14.0,12.0,14.500000,9.203260
12497,2016-10-24 23:00:00,3,1,"[23:00:00,23:20:00)",11,24,23,0,0,0,0,33.0,30.0,13.0,19.0,9.166667,3.430258
12498,2016-10-24 23:20:00,1,0,"[23:20:00,23:40:00)",7,24,23,20,0,0,0,11.0,7.0,2.0,2.0,8.500000,5.683309
12499,2016-10-24 23:20:00,1,1,"[23:20:00,23:40:00)",14,24,23,20,0,0,0,14.0,17.0,13.0,13.0,11.833333,3.763863
12500,2016-10-24 23:20:00,2,0,"[23:20:00,23:40:00)",3,24,23,20,0,0,0,7.0,19.0,9.0,9.0,5.166667,3.763863
12501,2016-10-24 23:20:00,3,0,"[23:20:00,23:40:00)",14,24,23,20,0,0,0,14.0,21.0,12.0,12.0,16.166667,6.177918
12502,2016-10-24 23:20:00,3,1,"[23:20:00,23:40:00)",13,24,23,20,0,0,0,11.0,33.0,19.0,19.0,11.666667,6.377042
12503,2016-10-24 23:40:00,1,0,"[23:40:00,00:00:00)",2,24,23,40,0,0,0,7.0,11.0,2.0,2.0,6.500000,7.259477
12504,2016-10-24 23:40:00,1,1,"[23:40:00,00:00:00)",13,24,23,40,0,0,0,14.0,14.0,13.0,13.0,11.500000,5.167204
12505,2016-10-24 23:40:00,2,0,"[23:40:00,00:00:00)",9,24,23,40,0,0,0,3.0,7.0,9.0,9.0,10.666667,5.573748
12506,2016-10-24 23:40:00,3,0,"[23:40:00,00:00:00)",12,24,23,40,0,0,0,14.0,14.0,12.0,12.0,14.666667,4.366539
12507,2016-10-24 23:40:00,3,1,"[23:40:00,00:00:00)",19,24,23,40,0,0,0,13.0,11.0,19.0,19.0,18.600000,7.402702

In [79]:
v_train.to_csv('data_process_final/treino_final.csv', index=False)

In [ ]:
#AGORA FAZER O MESMO COM OS DADOS DE TESTE

In [80]:
#Adicionando valor da janela de tempo anterior na janela de tempo atual
v_test["volume_anterior"] = v_test.groupby(['direction', 'tollgate_id'])["volume"].transform("shift")
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
v_test["volume_anterior"] =v_test.groupby(['direction', 'tollgate_id'])["volume_anterior"].fillna(method="ffill").fillna(0)

In [81]:
#Adicionando valor da janela de tempo anterior na janela de tempo atual
v_test["volume_anterior_2"] = v_test.groupby(['direction', 'tollgate_id'])["volume"].transform("shift", 2)
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
v_test["volume_anterior_2"] =v_test.groupby(['direction', 'tollgate_id'])["volume_anterior_2"].fillna(method="ffill").fillna(0)

In [82]:
#Adicionando valor da janela de tempo anterior na janela de tempo atual
v_test["volume_proximo"] = v_test.groupby(['direction', 'tollgate_id'])["volume"].transform("shift", -1)
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
v_test["volume_proximo"] =v_test.groupby(['direction', 'tollgate_id'])["volume_proximo"].fillna(method="ffill").fillna(0)

In [83]:
#Adicionando valor da janela de tempo anterior na janela de tempo atual
v_test["volume_proximo_2"] = v_test.groupby(['direction', 'tollgate_id'])["volume"].transform("shift", -2)
#condition = ~(df.groupby("time_window")['time'].transform("shift") == df['time'])
#df.loc[ condition,"volume_anterior" ] = None
v_test["volume_proximo_2"] =v_test.groupby(['direction', 'tollgate_id'])["volume_proximo_2"].fillna(method="ffill").fillna(0)

In [85]:
v_test['avg_vol_dia_semana'] = v_test.groupby(['time_window', 'direction', 'tollgate_id'])["volume"].transform(np.mean)

In [86]:
v_test['desvio_padrao'] = v_test.groupby(['time_window', 'direction', 'tollgate_id'])["volume"].transform(np.std)

In [87]:
v_test['desvio_padrao'].fillna(v_test.groupby(['time_window', 'week', 'direction', 'tollgate_id'])["volume"].transform(np.mean), inplace=True)

In [88]:
v_test

,time,tollgate_id,direction,time_window,volume,day,hour,minute,week,weekend,am_pm,volume_anterior,volume_anterior_2,volume_proximo,volume_proximo_2,avg_vol_dia_semana,desvio_padrao
0,2016-10-25 06:00:00,1,0,"[06:00:00,06:20:00)",10,25,6,0,1,0,1,0.0,0.0,17.0,30.0,14.285714,6.447591
1,2016-10-25 06:00:00,1,1,"[06:00:00,06:20:00)",37,25,6,0,1,0,1,0.0,0.0,54.0,63.0,36.571429,2.992053
2,2016-10-25 06:00:00,2,0,"[06:00:00,06:20:00)",29,25,6,0,1,0,1,0.0,0.0,27.0,40.0,19.714286,9.655988
3,2016-10-25 06:00:00,3,0,"[06:00:00,06:20:00)",28,25,6,0,1,0,1,0.0,0.0,48.0,92.0,24.142857,4.298394
4,2016-10-25 06:00:00,3,1,"[06:00:00,06:20:00)",30,25,6,0,1,0,1,0.0,0.0,31.0,42.0,21.428571,5.126960
5,2016-10-25 06:20:00,1,0,"[06:20:00,06:40:00)",17,25,6,20,1,0,1,10.0,0.0,30.0,25.0,22.428571,14.808299
6,2016-10-25 06:20:00,1,1,"[06:20:00,06:40:00)",54,25,6,20,1,0,1,37.0,0.0,63.0,67.0,47.714286,6.524678
7,2016-10-25 06:20:00,2,0,"[06:20:00,06:40:00)",27,25,6,20,1,0,1,29.0,0.0,40.0,83.0,24.000000,13.686977
8,2016-10-25 06:20:00,3,0,"[06:20:00,06:40:00)",48,25,6,20,1,0,1,28.0,0.0,92.0,129.0,45.428571,6.876461
9,2016-10-25 06:20:00,3,1,"[06:20:00,06:40:00)",31,25,6,20,1,0,1,30.0,0.0,42.0,62.0,28.857143,5.698789
10,2016-10-25 06:40:00,1,0,"[06:40:00,07:00:00)",30,25,6,40,1,0,1,17.0,10.0,25.0,38.0,28.714286,14.941154
11,2016-10-25 06:40:00,1,1,"[06:40:00,07:00:00)",63,25,6,40,1,0,1,54.0,37.0,67.0,99.0,60.428571,7.207800
12,2016-10-25 06:40:00,2,0,"[06:40:00,07:00:00)",40,25,6,40,1,0,1,27.0,29.0,83.0,98.0,34.571429,17.775049
13,2016-10-25 06:40:00,3,0,"[06:40:00,07:00:00)",92,25,6,40,1,0,1,48.0,28.0,129.0,131.0,70.714286,12.802530
14,2016-10-25 06:40:00,3,1,"[06:40:00,07:00:00)",42,25,6,40,1,0,1,31.0,30.0,62.0,89.0,41.142857,9.581729
15,2016-10-25 07:00:00,1,0,"[07:00:00,07:20:00)",25,25,7,0,1,0,1,30.0,17.0,38.0,44.0,39.285714,26.208868
16,2016-10-25 07:00:00,1,1,"[07:00:00,07:20:00)",67,25,7,0,1,0,1,63.0,54.0,99.0,133.0,70.428571,11.956270
17,2016-10-25 07:00:00,2,0,"[07:00:00,07:20:00)",83,25,7,0,1,0,1,40.0,27.0,98.0,93.0,52.857143,27.763457
18,2016-10-25 07:00:00,3,0,"[07:00:00,07:20:00)",129,25,7,0,1,0,1,92.0,48.0,131.0,139.0,111.571429,31.553432
19,2016-10-25 07:00:00,3,1,"[07:00:00,07:20:00)",62,25,7,0,1,0,1,42.0,31.0,89.0,84.0,56.857143,6.618876
20,2016-10-25 07:20:00,1,0,"[07:20:00,07:40:00)",38,25,7,20,1,0,1,25.0,30.0,44.0,52.0,45.428571,23.308490
21,2016-10-25 07:20:00,1,1,"[07:20:00,07:40:00)",99,25,7,20,1,0,1,67.0,63.0,133.0,92.0,90.857143,11.922368
22,2016-10-25 07:20:00,2,0,"[07:20:00,07:40:00)",98,25,7,20,1,0,1,83.0,40.0,93.0,77.0,67.428571,33.110206
23,2016-10-25 07:20:00,3,0,"[07:20:00,07:40:00)",131,25,7,20,1,0,1,129.0,92.0,139.0,125.0,112.857143,30.899992
24,2016-10-25 07:20:00,3,1,"[07:20:00,07:40:00)",89,25,7,20,1,0,1,62.0,42.0,84.0,79.0,75.571429,14.931590
25,2016-10-25 07:40:00,1,0,"[07:40:00,08:00:00)",44,25,7,40,1,0,1,38.0,25.0,52.0,44.0,54.428571,27.054618
26,2016-10-25 07:40:00,1,1,"[07:40:00,08:00:00)",133,25,7,40,1,0,1,99.0,67.0,92.0,111.0,104.142857,21.698146
27,2016-10-25 07:40:00,2,0,"[07:40:00,08:00:00)",93,25,7,40,1,0,1,98.0,83.0,77.0,66.0,76.857143,33.780806
28,2016-10-25 07:40:00,3,0,"[07:40:00,08:00:00)",139,25,7,40,1,0,1,131.0,129.0,125.0,123.0,129.714286,29.261546
29,2016-10-25 07:40:00,3,1,"[07:40:00,08:00:00)",84,25,7,40,1,0,1,89.0,62.0,79.0,101.0,81.000000,16.103830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2016-10-31 15:00:00,1,0,"[15:00:00,15:20:00)",94,31,15,0,0,0,0,106.0,98.0,94.0,88.0,66.857143,30.612789
391,2016-10-31 15:00:00,1,1,"[15:00:00,15:20:00)",96,31,15,0,0,0,0,115.0,99.0,101.0,106.0,97.714286,8.220184
392,2016-10-31 15:00:00,2,0,"[15:00:00,15:20:00)",13,31,15,0,0,0,0,58.0,42.0,17.0,13.0,58.714286,32.998557
393,2016-10-31 15:00:00,3,0,"[15:00:00,15:20:00)",111,31,15,0,0,0,0,162.0,166.0,97.0,94.0,127.857143,16.375068
394,2016-10-31 15:00:00,3,1,"[15:00:00,15:20:00)",80,31,15,0,0,0,0,109.0,88.0,90.0,81.0,102.714286,32.993506
395,2016-10-31 15:20:00,1,0,"[15:20:00,15:40:00)",94,31,15,20,0,0,0,94.0,106.0,88.0,85.0,62.285714,35.424635
396,2016-10-31 15:20:00,1,1,"[15:20:00,15:40:00)",101,31,15,20,0,0,0,96.0,115.0,106.0,96.0,103.857143,17.948339
397,2016-10-31 15:20:00,2,0,"[15:20:00,15:40:00)",17,31,15,20,0,0,0,13.0,58.0,13.0,19.0,56.285714,27.795169
398,2016-10-31 15:20:00,3,0,"[15:20:00,15:40:00)",97,31,15,20,0,0,0,111.0,162.0,94.0,128.0,119.714286,22.603202
399,2016-10-31 15:20:00,3,1,"[15:20:00,15:40:00)",90,31,15,20,0,0,0,80.0,109.0,81.0,73.0,97.571429,19.415262
400,2016-10-31 15:40:00,1,0,"[15:40:00,16:00:00)",88,31,15,40,0,0,0,94.0,94.0,85.0,93.0,69.142857,39.608200
401,2016-10-31 15:40:00,1,1,"[15:40:00,16:00:00)",106,31,15,40,0,0,0,101.0,96.0,96.0,107.0,102.428571,13.364844
402,2016-10-31 15:40:00,2,0,"[15:40:00,16:00:00)",13,31,15,40,0,0,0,17.0,13.0,19.0,12.0,68.571429,35.401776
403,2016-10-31 15:40:00,3,0,"[15:40:00,16:00:00)",94,31,15,40,0,0,0,97.0,111.0,128.0,108.0,122.857143,27.033489
404,2016-10-31 15:40:00,3,1,"[15:40:00,16:00:00)",81,31,15,40,0,0,0,90.0,80.0,73.0,92.0,96.142857,24.531806
405,2016-10-31 16:00:00,1,0,"[16:00:00,16:20:00)",85,31,16,0,0,0,0,88.0,94.0,93.0,88.0,68.142857,26.878917
406,2016-10-31 16:00:00,1,1,"[16:00:00,16:20:00)",96,31,16,0,0,0,0,106.0,101.0,107.0,99.0,108.000000,13.152946
407,2016-10-31 16:00:00,2,0,"[16:00:00,16:20:00)",19,31,16,0,0,0,0,13.0,17.0,12.0,17.0,56.714286,29.227352
408,2016-10-31 16:00:00,3,0,"[16:00:00,16:20:00)",128,31,16,0,0,0,0,94.0,97.0,108.0,104.0,129.714286,12.257165
409,2016-10-31 16:00:00,3,1,"[16:00:00,16:20:00)",73,31,16,0,0,0,0,81.0,90.0,92.0,68.0,94.857143,12.628388
410,2016-10-31 16:20:00,1,0,"[16:20:00,16:40:00)",93,31,16,20,0,0,0,85.0,88.0,88.0,88.0,65.714286,27.699063
411,2016-10-31 16:20:00,1,1,"[16:20:00,16:40:00)",107,31,16,20,0,0,0,96.0,106.0,99.0,99.0,103.571429,8.303757
412,2016-10-31 16:20:00,2,0,"[16:20:00,16:40:00)",12,31,16,20,0,0,0,19.0,13.0,17.0,17.0,63.857143,31.189895
413,2016-10-31 16:20:00,3,0,"[16:20:00,16:40:00)",108,31,16,20,0,0,0,128.0,94.0,104.0,104.0,133.000000,15.362291
414,2016-10-31 16:20:00,3,1,"[16:20:00,16:40:00)",92,31,16,20,0,0,0,73.0,81.0,68.0,68.0,104.857143,16.252472
415,2016-10-31 16:40:00,1,0,"[16:40:00,17:00:00)",88,31,16,40,0,0,0,93.0,85.0,88.0,88.0,63.571429,25.376217
416,2016-10-31 16:40:00,1,1,"[16:40:00,17:00:00)",99,31,16,40,0,0,0,107.0,96.0,99.0,99.0,110.857143,7.883074
417,2016-10-31 16:40:00,2,0,"[16:40:00,17:00:00)",17,31,16,40,0,0,0,12.0,19.0,17.0,17.0,67.285714,35.817660
418,2016-10-31 16:40:00,3,0,"[16:40:00,17:00:00)",104,31,16,40,0,0,0,108.0,128.0,104.0,104.0,118.571429,15.946339
419,2016-10-31 16:40:00,3,1,"[16:40:00,17:00:00)",68,31,16,40,0,0,0,92.0,73.0,68.0,68.0,97.571429,19.552128

In [89]:
v_test.to_csv('data_process_final/teste_final.csv', index=False)

In [91]:
df_train = pd.read_csv('data_process_final/treino_final.csv')
df_teste = pd.read_csv('data_process_final/teste_final.csv')

In [94]:
def feature_format():
    #pd_volume_train = pd_volume_train.set_index(['time'])
    #pd_volume_test = pd_volume_test.set_index(['time'])
    #volume_train = v_train.groupby(['time_window','tollgate_id','direction','date', 'hour']).size().reset_index().rename(columns = {0:'volume'})
    #volume_test = v_test.groupby(['time_window','tollgate_id','direction','date', 'hour']).size().reset_index().rename(columns = {0:'volume'})
    #print(volume_train)                
    x = pd.Series(df_train['time_window'].unique())
    s = pd.Series(range(len(x)),index = x.values)
    df_train['window_n'] = df_train['time_window'].map(s)
    df_teste['window_n'] = df_teste['time_window'].map(s)
#        print vol_test.tail()
    #volume_train['weekday'] = v_train['weekday']
    #volume_test['weekday'] = v_test['weekday']
    
    feature_train = df_train.drop('volume', axis = 1)
    feature_test = df_teste.drop('volume',axis = 1)
    values_train = df_train['volume'].values
    values_test = df_teste['volume'].values
    
    return feature_train, feature_test, values_train, values_test

In [95]:
feature_train, feature_test, values_train, values_test = feature_format()

In [96]:
feature_train.head()

,time,tollgate_id,direction,time_window,day,hour,minute,week,weekend,am_pm,volume_anterior,volume_anterior_2,volume_proximo,volume_proximo_2,avg_vol_dia_semana,desvio_padrao,window_n
0,2016-09-19 00:00:00,1,0,"[00:00:00,00:20:00)",19,0,0,0,0,1,0.0,0.0,6.0,9.0,13.166667,4.750439,0
1,2016-09-19 00:00:00,1,1,"[00:00:00,00:20:00)",19,0,0,0,0,1,0.0,0.0,56.0,31.0,109.833333,45.327328,0
2,2016-09-19 00:00:00,2,0,"[00:00:00,00:20:00)",19,0,0,0,0,1,0.0,0.0,1.0,2.0,2.750000,0.957427,0
3,2016-09-19 00:00:00,3,0,"[00:00:00,00:20:00)",19,0,0,0,0,1,0.0,0.0,16.0,16.0,17.000000,2.756810,0
4,2016-09-19 00:00:00,3,1,"[00:00:00,00:20:00)",19,0,0,0,0,1,0.0,0.0,112.0,93.0,126.000000,52.680167,0

In [97]:
rng = np.random.RandomState(1)
regr = AdaBoostRegressor(DecisionTreeRegressor(max_depth = 50),
                         n_estimators=300, random_state = rng)

In [119]:
regr.fit(feature_train[['tollgate_id', 'direction', 'week', 'weekend', 'am_pm', 'volume_anterior', 'volume_anterior_2', 'volume_proximo', 'volume_proximo_2', 'avg_vol_dia_semana', 'desvio_padrao']], values_train)

y_pred = regr.predict(feature_test[['tollgate_id', 'direction', 'week', 'weekend', 'am_pm', 'volume_anterior', 'volume_anterior_2', 'volume_proximo', 'volume_proximo_2', 'avg_vol_dia_semana', 'desvio_padrao']])

In [99]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true))

In [120]:
mean_absolute_percentage_error(values_test, y_pred)

0.24156422297913924

In [122]:
rf = RandomForestRegressor(n_estimators = 1500, random_state = 42)

In [123]:
rf.fit(feature_train[['tollgate_id', 'direction', 'week', 'weekend', 'am_pm', 'volume_anterior', 'volume_anterior_2', 'volume_proximo', 'volume_proximo_2', 'avg_vol_dia_semana', 'desvio_padrao']], values_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1500, n_jobs=1,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [124]:
# Use the forest's predict method on the test data
predictions = rf.predict(feature_test[['tollgate_id', 'direction', 'week', 'weekend', 'am_pm', 'volume_anterior', 'volume_anterior_2', 'volume_proximo', 'volume_proximo_2', 'avg_vol_dia_semana', 'desvio_padrao']])
# Calculate the absolute errors
errors = abs(predictions - values_test)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 11.6 degrees.

In [125]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / values_test)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 74.8 %.

In [126]:
mean_absolute_percentage_error(values_test, predictions)

0.25197467203766294