In [1]:
import pandas as pd
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
import numpy as np
from sklearn.grid_search import GridSearchCV
from sklearn.preprocessing import MinMaxScaler
import random

/home/matheuspds/miniconda3/lib/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Sequence
/home/matheuspds/miniconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
/home/matheuspds/miniconda3/lib/python3.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/matheuspds/miniconda3/lib/python3.7/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [72]:
df_test = pd.read_csv("test2_no_filter.csv")

df_train0 = pd.read_csv("train_no_filter.csv")
df_train1 = pd.read_csv("train1_no_filter.csv")
df_train2 = pd.read_csv("train2_no_filter.csv")
df_train3 = pd.read_csv("train3_no_filter.csv")
df_train_list = [df_train0,df_train1, df_train2, df_train3]
df_train0.head()

,tollgate_id,time_window,direction,volume,time,date,hour,miniute,am_pm,0,1,2,3,4,5,period_num,precipitation,rel_humidity
0,1,2016-09-19 00:00:00,0,13,2016-09-19 00:00:00,2016-09-19,0,0,1,13,6,9,10,14,10,0.0,0.0,76.0
1,1,2016-09-19 00:20:00,0,6,2016-09-19 00:20:00,2016-09-19,0,20,1,13,6,9,10,14,10,1.0,0.0,76.0
2,1,2016-09-19 00:40:00,0,9,2016-09-19 00:40:00,2016-09-19,0,40,1,13,6,9,10,14,10,2.0,0.0,76.0
3,1,2016-09-19 01:00:00,0,10,2016-09-19 01:00:00,2016-09-19,1,0,1,13,6,9,10,14,10,0.0,NaN,NaN
4,1,2016-09-19 01:20:00,0,14,2016-09-19 01:20:00,2016-09-19,1,20,1,13,6,9,10,14,10,1.0,NaN,NaN

In [58]:
def feature_transform_split(key, data):
    # data = remove_exception(data)

    data["precipitation"] = data[["precipitation"]].fillna(value=0)
    data["rel_humidity"] = data[["rel_humidity"]].fillna(value=50)

    data["precipitation"] = data["precipitation"].apply(lambda x: x > 0)
    data["rel_humidity"] = data["rel_humidity"].apply(lambda x: x > 90)

    data = data.drop("precipitation", axis=1)
    # data = data.drop("rel_humidity", axis= 1)


    # data["sum"] = data["0"] + data["1"] + data["2"] + data["3"] + data["4"] + data["5"]

    data = pd.concat([data, pd.get_dummies(data['period_num'])], axis=1)
    data = data.drop("period_num", axis=1)

    data = pd.concat([data, pd.get_dummies(data['holiday'])], axis=1)
    data = data.drop("holiday", axis=1)
    #
    # data = pd.concat([data, pd.get_dummies(data['first_last_workday'])], axis=1)
    data = data.drop("first_last_workday", axis=1)

    data = data.drop("day_of_week", axis=1)

    if (key == 1):
        data = pd.concat([data, pd.get_dummies(data['tollgate_id'])], axis=1)
        # data["tollgate_id1"] = data['tollgate_id']
        data["direction1"] = data['direction']
    return data

In [59]:
#df_hue = pd.concat(df_train_list)
#df_hue.to_csv("result/result_split_rf_huehue"+"huehue"+".csv", index=False)
random.shuffle(df_train_list)
df_train = pd.concat(df_train_list)

#df_ts = pd.read_csv("ts_feature2_simple.csv")
df_date = pd.read_csv("date.csv")

df_train = df_train.merge(df_date, on="date", how="left")
#df_train = df_train.merge(df_ts, on=["tollgate_id", "hour", "miniute", "direction"], how="left")

df_test = df_test.merge(df_date, on="date", how="left")
#df_test = df_test.merge(df_ts, on=["tollgate_id", "hour", "miniute", "direction"], how="left")

df_train_grouped = df_train.groupby(["tollgate_id", "direction"])
df_test_grouped = df_test.groupby(["tollgate_id", "direction"])
result = []
oob = []
for key, train_data in df_train_grouped:
    test_data = df_test_grouped.get_group(key)
    len_train = len(train_data)
    train_data = train_data.append(test_data)[train_data.columns.tolist()]
    train_data = feature_transform_split(key, train_data)
    
    train_data = pd.DataFrame.reset_index(train_data)
    train_data = train_data.drop("index", axis=1)
    y = train_data.ix[:len_train - 1, :]["volume"]
    x = train_data.ix[:len_train - 1, 8:]
    x1 = train_data.ix[len_train:, 8:]

/home/matheuspds/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/home/matheuspds/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
/home/matheuspds/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [30]:
x1.head()

,am_pm,0,1,2,3,4,5,rel_humidity,0.0,0.25,...,2.25,2.5,2.75,3.0,3.25,3.5,3.75,0.0,1.0,2.0
10365,1,0,0,0,0,0,0,False,1,0,...,0,0,0,0,0,0,0,0,0,0
10366,1,0,0,0,0,0,0,False,0,0,...,0,0,0,0,0,0,0,0,0,0
10367,1,0,0,0,0,0,0,False,0,0,...,0,0,0,0,0,0,0,0,0,0
10368,1,0,0,0,0,0,0,False,1,0,...,0,0,0,0,0,0,0,0,0,0
10369,1,0,0,0,0,0,0,False,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
 regressor = RandomForestRegressor(n_estimators=500, max_features='sqrt', random_state=10, oob_score=True)

In [61]:
regressor.fit(x, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='sqrt', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
           oob_score=True, random_state=10, verbose=0, warm_start=False)

In [70]:
resultado_obtido = regressor.predict(x1)
resultado_obtido
test_data["volume"] = resultado_obtido
result.append(test_data[['tollgate_id', 'time_window', 'direction', 'volume']])
df_result = pd.concat(result, axis=0)
#df_result.to_csv("resultado_final"+str(np.mean(df_result["volume"]))+".csv", index=False)
df_result.tail()

/home/matheuspds/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      tollgate_id          time_window  direction     volume
2515            3  2016-10-31 22:20:00          1  31.657921
2516            3  2016-10-31 22:40:00          1  31.743464
2517            3  2016-10-31 23:00:00          1  30.592492
2518            3  2016-10-31 23:20:00          1  31.657921
2519            3  2016-10-31 23:40:00          1  31.743464

In [68]:
df_ = pd.read_csv("test2_no_filter.csv")
values_test = df_['volume'].values
df_.head()

,tollgate_id,time_window,direction,volume,time,date,hour,miniute,am_pm,0,1,2,3,4,5,period_num,precipitation,rel_humidity
0,1,2016-10-25 00:00:00,0,0,2016-10-25 00:00:00,2016-10-25,0,0,1,0,0,0,0,0,0,0.0,0.0,86.0
1,1,2016-10-25 00:20:00,0,0,2016-10-25 00:20:00,2016-10-25,0,20,1,0,0,0,0,0,0,1.0,0.0,86.0
2,1,2016-10-25 00:40:00,0,0,2016-10-25 00:40:00,2016-10-25,0,40,1,0,0,0,0,0,0,2.0,0.0,86.0
3,1,2016-10-25 01:00:00,0,0,2016-10-25 01:00:00,2016-10-25,1,0,1,0,0,0,0,0,0,0.0,NaN,NaN
4,1,2016-10-25 01:20:00,0,0,2016-10-25 01:20:00,2016-10-25,1,20,1,0,0,0,0,0,0,1.0,NaN,NaN

In [67]:
mape = np.mean(np.abs((resultado_obtido - values_test)/values_test))

ValueError: operands could not be broadcast together with shapes (504,) (2520,)

In [75]:
df_test_v = pd.read_csv("test2_no_filter.csv")
df_train_v = pd.read_csv("train_no_filter.csv")

In [76]:
def feature_format():
    #pd_volume_train = pd_volume_train.set_index(['time'])
    #pd_volume_test = pd_volume_test.set_index(['time'])
    #volume_train = v_train.groupby(['time_window','tollgate_id','direction','date', 'hour']).size().reset_index().rename(columns = {0:'volume'})
    #volume_test = v_test.groupby(['time_window','tollgate_id','direction','date', 'hour']).size().reset_index().rename(columns = {0:'volume'})
    #print(volume_train)                
    x = pd.Series(df_train_v['time_window'].unique())
    s = pd.Series(range(len(x)),index = x.values)
    df_train_v['window_n'] = df_train_v['time_window'].map(s)
    df_test_v['window_n'] = df_test_v['time_window'].map(s)
#        print vol_test.tail()
    #volume_train['weekday'] = v_train['weekday']
    #volume_test['weekday'] = v_test['weekday']
    
    feature_train = df_train_v.drop('volume', axis = 1)
    feature_test = df_test_v.drop('volume',axis = 1)
    values_train = df_train_v['volume'].values
    values_test = df_test_v['volume'].values
    
    return feature_train, feature_test, values_train, values_test

In [78]:
feature_train, feature_test, values_train, values_test = feature_format()

In [81]:
feature_test.count()

tollgate_id      2520
time_window      2520
direction        2520
time             2520
date             2520
hour             2520
miniute          2520
am_pm            2520
0                2520
1                2520
2                2520
3                2520
4                2520
5                2520
period_num       2520
precipitation     840
rel_humidity      840
window_n            0
dtype: int64

In [82]:
regressor = RandomForestRegressor(n_estimators=500, max_features='sqrt', random_state=10, oob_score=True)

In [91]:
regressor.fit(feature_train[['tollgate_id', 'direction', 'hour', 'miniute', 'am_pm']], values_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='sqrt', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
           oob_score=True, random_state=10, verbose=0, warm_start=False)

In [92]:
y_pred = regressor.predict(feature_test[['tollgate_id', 'direction', 'hour', 'miniute', 'am_pm']])

In [94]:
values_test

array([0, 0, 0, ..., 0, 0, 0])