In [17]:
import pandas as pd
import numpy as np
from datetime import time
from sklearn.metrics import mean_absolute_error

/home/matheuspds/miniconda3/lib/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Sequence

In [22]:
df_final_real = pd.read_csv("result/resultado_real.csv")
df_final_real.head()

   tollgate_id  direction  volume          time_window
0            1          0      10  2016-10-25 06:00:00
1            1          1      37  2016-10-25 06:00:00
2            2          0      29  2016-10-25 06:00:00
3            3          0      28  2016-10-25 06:00:00
4            3          1      30  2016-10-25 06:00:00

In [31]:
df_final_real = df_final_real.sort_values(['tollgate_id', 'direction'])
df_final_real.head()

    tollgate_id  direction  volume          time_window
0             1          0      10  2016-10-25 06:00:00
5             1          0      17  2016-10-25 06:20:00
10            1          0      30  2016-10-25 06:40:00
15            1          0      25  2016-10-25 07:00:00
20            1          0      38  2016-10-25 07:20:00

In [32]:
df_final_predict = pd.read_csv('result/result_split_rf_TESTAR_AGORA.csv')
df_final_predict.head()

   tollgate_id          time_window  direction     volume
0            1  2016-10-25 06:00:00          0  40.176819
1            1  2016-10-25 06:20:00          0  42.326800
2            1  2016-10-25 06:40:00          0  47.084662
3            1  2016-10-25 07:00:00          0  40.176819
4            1  2016-10-25 07:20:00          0  42.326800

In [33]:
volume_real = df_final_real['volume'].values
volume_real

array([ 10,  17,  30,  25,  38,  44,  52,  42,  46,  47,  40,  50,  12,
         9,  25,  31,  31,  45,  38,  35,  44,  49,  45,  45,  14,  14,
        22,  20,  36,  42,  39,  37,  45,  49,  41,  45,   8,  21,  14,
        28,  37,  46,  62,  48,  56,  78,  66,  57,  11,  17,  19,  27,
        37,  23,  60,  48,  51,  47,  62,  48,  18,  25,  30,  49,  40,
        73, 120, 124, 150, 114, 110, 108,  27,  54,  59,  94,  96, 104,
        92,  91,  86,  84,  89,  88,  37,  54,  60,  66,  99, 132,  91,
       108,  88, 110, 102, 103,  37,  50,  57,  68,  94, 105,  91,  93,
        99, 105, 108, 103,  37,  46,  51,  61,  92,  99,  84,  98,  95,
        93,  89, 101,  35,  55,  65,  83,  96, 110,  96, 116, 106, 130,
       102, 107,  32,  39,  58,  57,  78,  86,  94,  70,  83,  98,  90,
       105,  42,  42,  56,  64,  68,  63, 109, 118, 118,  99, 101, 121,
        36,  45,  73,  86,  96, 111,  91, 100, 105,  94,  99,  97,  29,
        26,  40,  83,  95,  89,  76,  64,  98,  78,  83,  68,  32,  27,
        39,  73,  86,  94,  71,  58,  73,  67,  80,  89,  20,  36,  50,
        68,  80, 113,  58,  53,  79,  57,  72,  80,  18,  23,  51,  65,
        97,  94,  86,  94, 104,  81,  93, 108,  23,  42,  40,  34,  53,
        59,  91,  77,  81,  75,  78,  79,   5,   3,   6,   6,  11,  16,
        13,  25,  26,  13,  27,  19,  10,  10,  14,  37,  42,  58,  13,
        17,  13,  19,  12,  17,  28,  48,  91, 124, 115, 134, 117, 119,
       117, 122, 137, 113,  24,  50,  73, 123, 116, 134, 111, 101, 108,
       121, 129, 121,  23,  40,  61, 116, 107, 126, 104,  90,  98, 107,
       118, 117,  25,  51,  69, 115,  98, 143, 136, 141, 168, 148, 148,
       138,  26,  38,  58,  65,  74,  91, 123, 115, 109, 121, 131,  92,
        15,  37,  55,  68,  77,  84, 145, 143, 123, 123, 125, 113,  26,
        53,  79, 138, 162, 156, 107,  94,  92, 125, 105, 102,  30,  31,
        41,  59,  84,  81,  76, 101,  79,  91, 100,  96,  21,  36,  41,
        50,  78,  85,  77,  78,  77,  80,  91, 118,  24,  25,  49,  51,
        89,  84,  96,  87,  78, 102, 106, 113,  19,  19,  50,  52,  57,
        77, 126, 119, 100,  95, 103,  90,  13,  28,  32,  52,  63,  64,
        79,  75, 100,  97,  88,  74,  21,  33,  25,  60,  58,  60, 157,
       119, 140,  98, 130,  97,  22,  28,  48,  65,  86, 104,  80,  86,
        80,  72,  86,  66])

In [34]:
volume_predict = df_final_predict['volume'].values
volume_predict

array([ 40.17681905,  42.3268    ,  47.0846619 ,  40.17681905,
        42.3268    ,  47.0846619 ,  31.7603    ,  34.58276667,
        37.44426667,  40.65475238,  42.52793333,  46.12832857,
        40.17681905,  42.3268    ,  47.0846619 ,  40.17681905,
        42.3268    ,  47.0846619 ,  31.7603    ,  34.58276667,
        37.44426667,  40.65475238,  42.52793333,  46.12832857,
        29.99953333,  33.0858    ,  36.69673333,  40.17681905,
        42.3268    ,  47.0846619 ,  31.7603    ,  34.58276667,
        37.44426667,  40.65475238,  42.52793333,  46.12832857,
        29.99953333,  33.0858    ,  36.69673333,  40.17681905,
        42.3268    ,  47.0846619 ,  31.7603    ,  34.58276667,
        37.44426667,  40.65475238,  42.52793333,  46.12832857,
        36.94719048,  38.97278571,  41.96126667,  36.94719048,
        38.97278571,  41.96126667,  40.25339048,  41.96345238,
        44.2389    ,  40.25339048,  41.96345238,  44.2389    ,
        36.94719048,  38.97278571,  41.96126667,  36.94719048,
        38.97278571,  41.96126667,  40.25339048,  41.96345238,
        44.2389    ,  40.25339048,  41.96345238,  44.2389    ,
        40.17681905,  42.3268    ,  47.0846619 ,  40.17681905,
        42.3268    ,  47.0846619 ,  40.65475238,  42.52793333,
        46.12832857,  40.65475238,  42.52793333,  46.12832857,
        41.52983333,  45.72284762,  47.03220952,  41.52983333,
        45.72284762,  47.03220952,  38.20521429,  39.26704762,
        41.28488095,  40.32364762,  44.10901429,  45.52828095,
        41.52983333,  45.72284762,  47.03220952,  41.52983333,
        45.72284762,  47.03220952,  38.20521429,  39.26704762,
        41.28488095,  40.32364762,  44.10901429,  45.52828095,
        39.33501429,  40.85484762,  42.17130952,  41.52983333,
        45.72284762,  47.03220952,  38.20521429,  39.26704762,
        41.28488095,  40.32364762,  44.10901429,  45.52828095,
        39.33501429,  40.85484762,  42.17130952,  41.52983333,
        45.72284762,  47.03220952,  38.20521429,  39.26704762,
        41.28488095,  40.32364762,  44.10901429,  45.52828095,
        33.23237857,  34.23129762,  34.05256905,  33.23237857,
        34.23129762,  34.05256905,  32.86365952,  33.91226429,
        34.17103571,  32.86365952,  33.91226429,  34.17103571,
        33.23237857,  34.23129762,  34.05256905,  33.23237857,
        34.23129762,  34.05256905,  32.86365952,  33.91226429,
        34.17103571,  32.86365952,  33.91226429,  34.17103571,
        41.52983333,  45.72284762,  47.03220952,  41.52983333,
        45.72284762,  47.03220952,  40.32364762,  44.10901429,
        45.52828095,  40.32364762,  44.10901429,  45.52828095,
        59.84006984,  64.43478889,  74.25562698,  59.84006984,
        64.43478889,  74.25562698,  27.8749    ,  30.60066667,
        36.05506667,  53.47130317,  58.10552222,  67.17852698,
        59.84006984,  64.43478889,  74.25562698,  59.84006984,
        64.43478889,  74.25562698,  27.8749    ,  30.60066667,
        36.05506667,  53.47130317,  58.10552222,  67.17852698,
        31.48663333,  34.5795    ,  41.51766667,  59.84006984,
        64.43478889,  74.25562698,  27.8749    ,  30.60066667,
        36.05506667,  53.47130317,  58.10552222,  67.17852698,
        31.48663333,  34.5795    ,  41.51766667,  59.84006984,
        64.43478889,  74.25562698,  27.8749    ,  30.60066667,
        36.05506667,  53.47130317,  58.10552222,  67.17852698,
        30.80572698,  36.32148651,  38.18441984,  30.80572698,
        36.32148651,  38.18441984,  29.15301429,  34.09586429,
        36.24651667,  29.15301429,  34.09586429,  36.24651667,
        30.80572698,  36.32148651,  38.18441984,  30.80572698,
        36.32148651,  38.18441984,  29.15301429,  34.09586429,
        36.24651667,  29.15301429,  34.09586429,  36.24651667,
        59.84006984,  64.43478889,  74.25562698,  59.84006984,
        64.43478889,  74.25562698,  53.47130317,  58.10552222,
        67.17852698,  53.47130317,  58.10552222,  67.17852698,
        84.41621905,  92.62538095, 107.7162381 ,  84.41621905,
        92.62538095, 107.7162381 ,  62.59766667,  71.35463333,
        82.1924    ,  89.15770476,  94.96467143, 108.09250476,
        84.41621905,  92.62538095, 107.7162381 ,  84.41621905,
        92.62538095, 107.7162381 ,  62.59766667,  71.35463333,
        82.1924    ,  89.15770476,  94.96467143, 108.09250476,
        54.0893    ,  64.8763    ,  77.51056667,  84.41621905,
        92.62538095, 107.7162381 ,  62.59766667,  71.35463333,
        82.1924    ,  89.15770476,  94.96467143, 108.09250476,
        54.0893    ,  64.8763    ,  77.51056667,  84.41621905,
        92.62538095, 107.7162381 ,  62.59766667,  71.35463333,
        82.1924    ,  89.15770476,  94.96467143, 108.09250476,
        68.78140476,  74.27005238,  82.55592857,  68.78140476,
        74.27005238,  82.55592857,  74.39367143,  78.42162857,
        85.63802857,  74.39367143,  78.42162857,  85.63802857,
        68.78140476,  74.27005238,  82.55592857,  68.78140476,
        74.27005238,  82.55592857,  74.39367143,  78.42162857,
        85.63802857,  74.39367143,  78.42162857,  85.63802857,
        84.41621905,  92.62538095, 107.7162381 ,  84.41621905,
        92.62538095, 107.7162381 ,  89.15770476,  94.96467143,
       108.09250476,  89.15770476,  94.96467143, 108.09250476,
        28.46625714,  34.80199048,  35.15223333,  28.46625714,
        34.80199048,  35.15223333,  25.8084    ,  28.431     ,
        29.40016667,  28.81529048,  34.19915714,  34.4845    ,
        28.46625714,  34.80199048,  35.15223333,  28.46625714,
        34.80199048,  35.15223333,  25.8084    ,  28.431     ,
        29.40016667,  28.81529048,  34.19915714,  34.4845    ,
        24.0295    ,  27.70736667,  28.17303333,  28.46625714,
        34.80199048,  35.15223333,  25.8084    ,  28.431     ,
        29.40016667,  28.81529048,  34.19915714,  34.4845    ,
        24.0295    ,  27.70736667,  28.17303333,  28.46625714,
        34.80199048,  35.15223333,  25.8084    ,  28.431     ,
        29.40016667,  28.81529048,  34.19915714,  34.4845    ,
        23.01639524,  26.99355714,  27.5185381 ,  23.01639524,
        26.99355714,  27.5185381 ,  23.5773619 ,  26.93392381,
        27.62400476,  23.5773619 ,  26.93392381,  27.62400476,
        23.01639524,  26.99355714,  27.5185381 ,  23.01639524,
        26.99355714,  27.5185381 ,  23.5773619 ,  26.93392381,
        27.62400476,  23.5773619 ,  26.93392381,  27.62400476,
        28.46625714,  34.80199048,  35.15223333,  28.46625714,
        34.80199048,  35.15223333,  28.81529048,  34.19915714,
        34.4845    ,  28.81529048,  34.19915714,  34.4845    ])

In [35]:
#Função que calcula o MAPE
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [36]:
mean_absolute_percentage_error(volume_real, volume_predict)

62.90462467450569

In [37]:
mape = np.mean(np.abs((volume_predict - volume_real)/volume_real))

In [38]:
mape

0.6290462467450569

In [15]:
def rmse(predictions, targets):
    differences = predictions - targets
    differences_squared = differences ** 2
    mean_of_differences_squared = differences_squared.mean()
    rmse_val = np.sqrt(mean_of_differences_squared)
    return rmse_val

In [16]:
rmse(volume_predict, volume_real)

50.38188639302505

In [19]:
#mean_absolute_error(volume_real, volume_predict)

41.32040957294029

In [42]:
y_true = [3, 3, 2, 2]
y_pred = [3, 3, 2,2]
mean_absolute_error(volume_real, volume_predict)

33.99516646636433