In [1]:
import pandas as pd

In [2]:
path = "../dataset/"
df_weather = pd.read_csv(path+"weather (table 7)_training_update.csv")
df_weather = df_weather.append(pd.read_csv(path+"weather (table 7)_test1.csv")).append(
                pd.read_csv(path+"weather (table 7)_2.csv"))
df_weather.head()

,date,hour,pressure,sea_pressure,wind_direction,wind_speed,temperature,rel_humidity,precipitation
0,2016-07-01,0,1000.4,1005.3,225.0,2.1,26.4,94.0,0.0
1,2016-07-01,3,1000.5,1005.3,187.0,2.7,29.0,76.0,0.0
2,2016-07-01,6,998.9,1003.7,212.0,2.9,31.7,67.0,0.0
3,2016-07-01,9,998.7,1003.5,244.0,2.7,31.6,59.0,0.0
4,2016-07-01,12,999.7,1004.5,222.0,1.3,29.9,68.0,0.0

In [3]:
df_weather[
        ["date", "hour", "pressure", "sea_pressure", "wind_direction", "wind_speed", "temperature", "rel_humidity",
         "precipitation"]].to_csv("data_after_process/feature_clima.csv", index=False)